include ../kanban_menu
include mixins/chart_incident
// Load d3.js and c3.js
script(src='/javascripts/components/c3/c3.min.js')
// Load nv3d
script(src='/javascripts/components/nvd3/build/nv.d3.min.js')

-	function formatAV(av){
-		return (av*100).toFixed(2)+ "%";
-	}

-	function formatAVTime(time){
- 	var d = moment.duration(time);
-		if (d>=86400000) return d.format("d[d] h:mm:ss", { trim: false });
-		return d.format("h:mm:ss", { trim: false });
-	}


style.
	#chart svg {
	  height: 400px;
		width:980px;
	}
	#chart2 svg {
	  height: 400px;
		width:980px;
	}
	#chartP8 svg {
	  height: 400px;
		width:1200px;
	}
	#chartP1 svg {
	  height: 400px;
		width:1200px;
	}



mixin renderAV(title,av,time)
	tr(style="line-height:32px;text-align:right")
		td(style="width:150px;text-align:right;font-size:18px")
			b #{title}:&nbsp;&nbsp;&nbsp; 
		td(style="width:100px")
			b(style="font-size:24px")
				|#{formatAV(av.all)}
		td(style="width:100px")
			b(style="font-size:10px")
				|#{time.all}

	tr(style="line-height:32px;text-align:right")
		td(style="width:150px")
			|CORE:&nbsp;&nbsp;&nbsp; 
		td(style="width:100px")
			div(style="font-size:20px")
				|#{formatAV(av.core)}
		td
			div(style="font-size:10px")
				|#{time.core}
	tr(style="line-height:32px;text-align:right")
		td(style="width:150px;text-align:right")
			|NON-CORE:&nbsp;&nbsp;&nbsp; 
		td(style="width:100px")
			div(style="font-size:20px")
				|#{formatAV(av.nonCore)}
		td
			div(style="font-size:10px")
				|#{time.nonCore}

mixin renderAVDowntime(title,downtime)
	tr(style="line-height:24px;text-align:right")
		td(style="width:200px;text-align:right")
			b downtime*) #{title}:&nbsp;&nbsp;&nbsp; 
		td(style="width:150px")
			b(style="font-size:16px")
				|#{formatAVTime(downtime.all)}
	tr(style="line-height:24px;font-style:italic;text-align:right")
		td(style="text-align:right")
			|CORE:&nbsp;&nbsp;&nbsp; 
		td
			div(style="font-size:16px")
				|#{formatAVTime(downtime.core)}
	tr(style="line-height:24px;font-style:italic;text-align:right")
		td(style="text-align:right")
			|NON-CORE:&nbsp;&nbsp;&nbsp; 
		td
			div(style="font-size:16px")
				|#{formatAVTime(downtime.nonCore)}						
	
			


mixin renderAVServicesList(title,av)
	h4 #{title}
	table.table-striped.table-hover.table-condensed(style="max-width:1200px")
		thead
			tr(style="line-height:14px;font-weight:bold;font-size:14px")
				th(style="width:250px;text-align:right")
					|service
				th(style="width:100px;text-align:right")
					|planned %
				th(style="width:100px;text-align:right")
					|planned t
				th(style="width:100px;text-align:right")
					|unplanned %
				th(style="width:100px;text-align:right")
					|unplanned t
				th(style="width:100px;text-align:right")
					|total %
				th(style="width:100px;text-align:right")
					|total t
		tbody
			each service in av.services
				if service.filterExclude != true 
					tr(style="line-height:14px;font-size:14px;text-align:right")
						td
							|#{service.ServiceName}
						td
							|#{formatAV(service.availability.planned.all)}
						td
							|#{formatAVTime(service.availability.planned.time)}
						td
							|#{formatAV(service.availability.unplanned.all)}
						td
							|#{formatAVTime(service.availability.unplanned.time)}
						td
							|#{formatAV(service.availability.total.all)}
						td
							|#{formatAVTime(service.availability.total.time)}

	hr
	div(style="text-align:center")
		table(style="margin:0 auto")
			+renderAV("AV planned",av.av.planned,av.totalPeriod)
			+renderAV("AV unplanned",av.av.unplanned,av.totalPeriod)
			+renderAV("AV totals",av.av.total,av.totalPeriod)
	hr
	div(style="text-align:center")
		table(style="margin:0 auto")
			+renderAVDowntime("planned:",av.downtime.planned)
			+renderAVDowntime("unplanned:",av.downtime.unplanned)
			+renderAVDowntime("total:",av.downtime.total)
	hr
	div(style="font-style:italic;font-size:10px")
		|*) downtimes are per definition always "degraded" times by accordong SOC set degradation factor
	

mixin renderIncidentList(title,incidents)
	h3 #{title}
	table.table-striped.table-hover.table-condensed(style="max-width:900px")
		thead
			tr(style="line-height:16px;font-weight:bold")
				th(style="width:50px;text-align:right")
					|prio
				th(style="width:100px;text-align:right")
					|id
				th(style="width:200px;text-align:right")
					|description
				th(style="width:80px;text-align:center")
					|start
				th(style="width:80px;text-align:center")
					|stop
				th(style="width:60px;text-align:right")
					|ttr
				th(style="width:50px;text-align:right")
					|deg
				th(style="width:200px;text-align:right")
					|rootCause
				th(style="width:50px;text-align:right")
					|plan
				th(style="width:50px;text-align:right")
					|ext
				th(style="width:50px;text-align:right")
					|cust
				th(style="width:150px;text-align:right")
					|label
		tbody
			each inc in incidents
				tr(style="line-height:16px;font-size:12px")
					td(style="width:300px;text-align:right")
						img(src="/images/incidents/#{inc.priority}.png" height="25px") 
					td(style="width:200px;text-align:right")
						a(href="https://bwinparty.service-now.com/ess/incident.do?sys_id=#{inc.snowId}" target="_new")
							|#{inc.incidentID}
					td(style="width:100px;text-align:right")
						|#{inc.description}
					td(style="width:80px;text-align:right")
						|#{moment(inc.start).format("YYYY-MM-DD HH:mm:ss")}
					td(style="width:80px;text-align:right")
						|#{moment(inc.stop).format("YYYY-MM-DD HH:mm:ss")}
					td(style="width:60px;text-align:right")
						|#{(formatAVTime(inc.resolutionTime))}
					td(style="width:50px;text-align:right")
						|#{inc.degradation}%
					td(style="width:200px;text-align:right")
						|#{inc.rootCause}
					td(style="width:50px;text-align:right")
						|#{inc.isPlanned}
					td(style="width:50px;text-align:right")
						|#{inc.isExt}
					td(style="width:50px;text-align:right")
						|#{inc.isEndUserDown}					
					td(style="width:150px;text-align:right")
						|#{inc.labels}					



block content
	div
		br
		img(src="/images/bpty_logo.png" style="display:block;margin-left:auto;margin-right:auto;")
	h3(style="text-align:center;font-weight:bold") firereport-online prototype
	if filter && filter.customer!="* ALL *"
		div(style="text-align:center;font-weight:bold")
			img(src="/images/customers/#{filter.customer}.png" height="50px")
	br
	div(style="text-align:center;font-weight:bold")
		span(style="font-weight:normal") start: 
		span(id="start" style="font-weight:bold") #{moment(av.from)}
	div(style="text-align:center;font-weight:bold")
		span(style="font-weight:normal") stop: 
		span(id="stop" style="font-weight:bold") #{moment(av.to)}
		br
		br
	div(style="margin:0px auto;;width:100px;height:100px")
		select.form-control.floating-label(id="filter"  name="filter" type="select"  placeholder="type" autocomplete="off"  )
			option * ALL *
			option bwin
			option games
			option premium
			option kalixa
			option party US
			option danske spil
			option pmu
		br
		div(style="margin:0px auto;width:120px;")
			#daterange.selectbox.pull-right
				i.fa.fa-calendar &nbsp;
				span -- enter date -- &nbsp;
				b.caret
	div.row(style="margin: auto;max-width:1200px")
		div.panel.panel-default
			div.panel-heading 
				|availability: 
				b planned | unplanned | total 
			div.panel-body
				+renderAVServicesList("SERVICES - INTERNAL",av)
				+renderAVServicesList("SERVICES - EXTERNAL",avExternal)

	div.row(style="margin: auto;max-width:1200px")
		script(src='/javascripts/dashboards/nvd3_incidents_multi.js')

		+chartIncident("P1","chartP1")
		+chartIncident("P8","chartP8")

		
		div.panel.panel-default
			div.panel-heading 
				|SOC reported incidents: 
			div.panel-body
				
				+renderIncidentList("unplanned",av.incidents.unplanned)
				+renderIncidentList("planned",av.incidents.planned)
				

	script(src='/javascripts/dashboards/nvd3_availability.js')
	div.row(style="margin: auto;max-width:1200px")
		div.panel.panel-default
			div.panel-heading 
				|availability: 
				b unplanned
			div.panel-body
				div(id="chart" style="text-align:center")
					svg
					
	script(src='/javascripts/dashboards/nvd3_availability_multi.js')
	div.row(style="margin: auto;max-width:1200px")
		div.panel.panel-default
			div.panel-heading 
				|availability: 
				b planned | unplanned | total 
			div.panel-body
				div(id="chart2" style="text-align:center")
					svg
	

script.
	// make serverside parameter accessible  to clientside JS
	//var av=!{JSON.stringify(av)};
	//var avExternal=!{JSON.stringify(avExternal)};
	
	var _from="#{from}";
	var _to="#{to}";
	var _customer="#{filter.customer}";
	/*$(function () {
		$('#start').datetimepicker({keepOpen:false,format:"ddd, DD MMM YYYY, HH:mm:ss"});
		$('#stop').datetimepicker({keepOpen:false,format:"ddd, DD MMM YYYY, HH:mm:ss"});
	})*/
	$(document).ready(function() {
		$("#filter").val(_customer);

		$('#daterange').daterangepicker({ 
			format: 'YYYY-MM-DD',
			startDate: '2015-01-01',
			endDate: new Date(),
			showDropdowns:true,
			showWeekNumbers:true,
			ranges: {
						 'Last 30 Days': [moment().subtract('days', 29), moment()],
						 'This Month': [moment().startOf('month'), moment().endOf('month')],
						 'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')],
						 'Last Week': [moment().subtract('week', 1).startOf('week'), moment().subtract('week', 1).endOf('week')],
						 'YTD': [moment().startOf('year'), moment()]
		  }
		});
		
		$('#daterange').on('apply.daterangepicker', function(ev, picker) {
			_from = picker.startDate.format('YYYY-MM-DD');
			_to = picker.endDate.format('YYYY-MM-DD');
			window.location.href = "/dashboard/firereport?from="+_from+"&to="+_to+"&customer="+_customer;
		});	

		$('#filter').on('change', function() {
			console.log("select change event: "+this.value);
			if (this.value=="* ALL *")
				_customer="";
			else 
				_customer="customer="+this.value;
			if (_from && _to)
				window.location.href = "/dashboard/firereport?from="+_from+"&to="+_to+"&"+_customer
			else
				window.location.href = "/dashboard/firereport?"+_customer;
		});
	});
