include ../kanban_menu
include mixins/chart_incident
include mixins/report_modules



// Load d3.js and c3.js
script(src='/javascripts/components/c3/c3.min.js')
// Load nv3d
script(src='/javascripts/components/nvd3/build/nv.d3.min.js')

-	function formatAV(av){
-		return (av*100).toFixed(2)+ "%";
-	}

-	function formatAVTime(time){
- 	var d = moment.duration(time);
-		if (d>=86400000) return d.format("d[d] h:mm:ss", { trim: false });
-		return d.format("h:mm:ss", { trim: false });
-	}

-	function formatMoney(money){
-		return accounting.formatMoney(money, "€", 2, ".", ",")
-	}




style.
	#chart svg {
		height: 400px;
		width:980px;
	}
	#chart2 svg {
		height: 400px;
		width:980px;
	}
	#chartP08 svg {
		height: 400px;
		width:1000px;
	}
	#chartP01 svg {
		height: 400px;
		width:1000px;
	}
	#chartP16 svg {
		height: 400px;
		width:1000px;
	}
	#chartP1Resolved svg {
		height: 400px;
		width:1000px;
	}

block content
	div(style="text-align:center;font-weight:bold")
		img(src="/images/customers/#{filter.customer}.png" height="50px")
	h3(style="text-align:center;font-weight:bold") OPSREPORT
	
	
	div(style="margin:0px auto;width:500px;text-align:left")
		span(style="font-weight:bold;font-size:12px") Date Range Filter:	
		br
		br
		div.selectbox.pull-left(id="daterange")
			i.fa.fa-calendar &nbsp;
			span(id="enter_date" style=";font-size:12px") #{moment(from).format('dddd, Do of MMMM YYYY')} - #{moment(to).format('dddd, Do of MMMM YYYY')}
			b.caret
		br
		br
		div(style="text-align:left;font-size:12px")
			span(style="font-weight:bold") Incident Filter: (experimental)
			.radio.radio-default
				label
					input(type='radio', name='excludeNOLABEL', value='0')
					|	#{session.USER} + "No Label"
			.radio.radio-default
				label
					input( type='radio', name='excludeNOLABEL', value='1')
					|	#{session.USER} only
			.radio.radio-default
				label
					input(type='radio', name='excludeNOLABEL', value='2')
					|	"No Label" only
	br
	br
	
	div.row(style="margin: auto;max-width:1000px")
		div.panel.panel-default
			div.panel-heading 
				span(style="color:black;font-size:24px;font-weight:bold") Availability - Downtime - Revenue Impact 
				| planned | unplanned | total 
				br
				+renderFromTo(from,to)
			div.panel-body
				+renderAVServicesList("SERVICES - ALL",av)
				hr
				+renderAVServicesList("SERVICES - EXTERNAL ****)",avExternal)
				+renderDisclaimer
	div.row(style="margin: auto;max-width:1000px")
		script(src='/javascripts/dashboards/nvd3_incidents_multi.js')
		+chartIncident("Incidents Trend","P01","openedAt","chartP01")
		//+chartIncident("Incidents Trend","P1","resolvedAt","chartP1Resolved")
		
		
		+chartIncident("Incidents Trend","P08","openedAt","chartP08")
		+chartIncident("Incidents Trend","P16","openedAt","chartP16")
		+renderIncidentList("snow reported P01 incidents",snowIncidents,excludeNOLABEL)
		
	script(src='/javascripts/dashboards/nvd3_availability.js')
	div.row(style="margin: auto;max-width:1000px")
		div.panel.panel-default
			div.panel-heading 
				|availability: 
				b unplanned
			div.panel-body
				div(id="chart" style="text-align:center")
					svg
	script(src='/javascripts/dashboards/nvd3_availability_multi.js')
	div.row(style="margin: auto;max-width:1000px")
		div.panel.panel-default
			div.panel-heading 
				|availability: 
				b planned | unplanned | total 
			div.panel-body
				div(id="chart2" style="text-align:center")
					svg
	
include ../includes/material


script.
	// make serverside parameter accessible	to clientside JS
	//var av=!{JSON.stringify(av)};
	//var avExternal=!{JSON.stringify(avExternal)};
	
	var _from="#{from}";
	var _to="#{to}";
	var _customer="#{filter.customer}";
	var _excludeNOLABEL = "#{excludeNOLABEL}";
	
	/*$(function () {
		$('#start').datetimepicker({keepOpen:false,format:"ddd, DD MMM YYYY, HH:mm:ss"});
		$('#stop').datetimepicker({keepOpen:false,format:"ddd, DD MMM YYYY, HH:mm:ss"});
	})*/
	$(document).ready(function() {
		$("#filter").val(_customer);

		$('#daterange').daterangepicker({ 
			format: 'YYYY-MM-DD',
			startDate: '2015-01-01',
			endDate: new Date(),
			showDropdowns:true,
			showWeekNumbers:true,
			ranges: {
						 'Last 30 Days': [moment().subtract('days', 29), moment()],
						 'This Month': [moment().startOf('month'), moment().endOf('month')],
						 'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')],
						 'Last Week': [moment().subtract('week', 1).startOf('week'), moment().subtract('week', 1).endOf('week')],
						 'YTD': [moment().startOf('year'), moment()]
			}
		});
		
		$('#daterange').on('apply.daterangepicker', function(ev, picker) {
			_from = picker.startDate.format('YYYY-MM-DD');
			_to = picker.endDate.format('YYYY-MM-DD');
			window.location.href = "/dashboard/opsreport/"+_customer+"?from="+_from+"&to="+_to+"&excludeNOLABEL="+_excludeNOLABEL;
		});	

		$('#filter').on('change', function() {
			console.log("select change event: "+this.value);
			
			if (_from && _to)
				window.location.href = "/dashboard/opsreport/"+_customer+"?from="+_from+"&to="+_to+"&excludeNOLABEL="+_excludeNOLABEL;
			else
				window.location.href = "/dashboard/opsreport/"+_customer;
		});
		
		
		console.log("************** excludeNOLBAEL: "+_excludeNOLABEL);
		$('input:radio[name="excludeNOLABEL"][value='+_excludeNOLABEL+']').prop('checked', true);
				
		$("input[name='excludeNOLABEL']").on('change', function() {
			var _excludeNOLABEL = $("input[name='excludeNOLABEL']:checked").val();
			console.log("!!!!!!!!!!!!!!!!!!!!"+_excludeNOLABEL);
			window.location.href = "/dashboard/opsreport/"+_customer+"?from="+_from+"&to="+_to+"&excludeNOLABEL="+_excludeNOLABEL;
		});
	
	});
