include ../kanban_menu

block content

	div.panel(style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;;max-width:1400px;text-align: center;margin: 10px auto;")
		.panel-heading
			h3.panel-title(style="font-size:24px;font-weight:bold") EMPLOYEE OUTCOMES - #{period}
		.panel-body
		
		div(style="text-align:center")
			table.table.table-responsive(style="margin:0 auto;max-width:500px")
				tr
					td
					td(style="text-align:left;font-weight:bold;padding-left:10px")
						img.img-circle(src='/images/employees/squared/#{employee["Employee Number"]}_square.png' height="100px")
				tr
					td(style="text-align:right") Name:
					td(style="text-align:left;font-weight:bold;padding-left:10px") #{employee["Full Name"]}
				tr
					td(style="text-align:right") Position:
					td(style="text-align:left;font-weight:bold;padding-left:10px") #{employee["Corporate Job Title"]}
				tr
					td(style="text-align:right") Location: 
					td(style="text-align:left;font-weight:bold;padding-left:10px") #{employee["Location"]}
				tr
					td(style="text-align:right") Cost center: 
					td(style="text-align:left;font-weight:bold;padding-left:10px") #{employee["Cost Centre"]}
				tr
					td(style="text-align:right") Manager: 
					td(style="text-align:left;font-weight:bold;padding-left:10px") 
						a(href='/targets/employeeoutcomes/#{period}/#{employee["Supervisor Employee Number"]}') #{employee["Supervisor Full Name"]}
				if employee.unit
					tr
						td(style="text-align:right") Unit: 
						td(style="text-align:left;font-weight:normal;font-style:italic;padding-left:10px") #{employee.unit}
				if employee.area
					tr
						td(style="text-align:right") Area: 
						td(style="text-align:left;font-weight:normal;font-style:italic;padding-left:10px") #{employee.area}
				if employee.team
					tr
						td(style="text-align:right") Team: 
						td(style="text-align:left;font-weight:normal;font-style:italic;padding-left:10px") #{employee.team}
				if employee.role
					tr
						td(style="text-align:right") Role: 
						td(style="text-align:left;font-weight:normal;font-style:italic;padding-left:10px") #{employee.role}
			
		
		br
		hr
		table.table.table-striped.table-hover.table-condensed
			thead
				tr
					th(style="width:150px") L2Targets 
					th(style="width:150px") Outcome Title
					th(style="width:150px") Outcome Description
					th(style="width:150px") Success Criteria
			tbody
				each o in outcomes
					tr
						td(style="text-align:left;vertical-align:middle") 
							each t in o.L2Targets
								a(href='/targets/target2outcomes/#{period}/#{t}') #{t}
								|&nbsp;
						td(style="vertical-align:top;text-align:left;font-size:11px;vertical-align:middle") #{o.title} 
						td(style="vertical-align:top;text-align:left;font-size:11px;vertical-align:middle") #{o.description} 
						td(style="vertical-align:top;text-align:left;font-size:11px;vertical-align:middle") #{o.successCriteria} 
						
