include ../kanban_menu

style.
	.node.fixed {
		fill: #f00;
	}


mixin renderEmployee(employee,nameSize,imageSize)
	if employee 
		table
			tr
				td(rowspan="2")
					img.img-circle(src='/images/employees/squared/#{employee["Employee Number"]}_square.png' height="#{imageSize}px") 
				td(style="padding-left:5px;font-size:#{nameSize}px")
					|#{employee["First Name"]} #{employee["Last Name"]}
			tr
				td(style="padding-left:5px")
					span(style="font-size:10px;font-weight:normal;") #{employee["Organization"]}
	else
		span(style="font-size:10px;font-weight:normal;color:red;text-align:center") -- no employee data found --
		
block content
	div.panel(style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;;width:1000px;text-align: center;margin: 10px auto;")
		.panel-heading
			h3.panel-title(style="font-size:24px;font-weight:bold") L2 TARGET "BROCCOLI" - #{period}
			br
			a(href="/targets/target2outcomes/#{period}/#{target.id}") &rarr; employee outcome list &nbsp;
			i.glyphicon.glyphicon-list-alt &nbsp;
		.panel-body
		div(style="text-align:center")
			table.table.table-responsive(style="margin:0 auto;max-width:580px")
				tr
					td(style="text-align:right;font-size:10px") L2:
					td(style="text-align:left;font-weight:bold;padding-left:10px;font-size:16px") 
						|#{target.id} | #{target.target} 
						img(id="modal_group_icon" src="/images/iconexp/#{target.icon}" height="25px")
				tr
					td(style="text-align:right;font-size:10px") L1:
					td(style="text-align:left;font-weight:normal;padding-left:10px") 
						//img(id="modal_group_icon" src="/images/iconexp/#{target.icon}" height="25px")
						|#{target.group} | #{target.cluster} | #{target.theme} 
				tr(style="padding-top:20px")
					td(style="text-align:right;font-size:10px") sponsor:
					td(style="text-align:left;font-weight:bold;padding-left:10px") 
						+renderEmployee(sponsor,16,40)
		br
		hr
		div(id="broccoli")
			#chart(style='margin:10px 10px')


script(type="text/javascript").
	var _pickL2 = '#{pickL2}';
	var _showEmployeeTree = '#{showEmployeeTree}';
	var _showTargetTree = '#{showTargetTree}';
	var _period = '#{period}';

script(src="/javascripts/organization/target2employee_force.js")
