include ../kanban_menu




style.
	.panel-heading-run {background-color: #{color_RUN}!important}
	.panel-heading-grow {background-color: #{color_GROW}!important}
	.panel-heading-transform {background-color: #{color_TRANSFORM}!important}
	.panel-heading-pl {background-color: #{color_PL}!important}


	.left-border-RUN {border-left:solid 10px #{color_RUN}!important}
	.left-border-GROW {border-left:solid 10px #{color_GROW}!important}
	.left-border-TRANSFORM {border-left:solid 10px #{color_TRANSFORM}!important}


	.panel-body-lane {background-color: #f9f9f9!important}

	.text-heading-run {color: #{color_RUN}!important}
	.text-heading-grow {color: #{color_GROW}!important}
	.text-heading-transform {color: #{color_TRANSFORM}!important}

	.box-run {background-color: #{color_RUN}!important}
	.box-grow {background-color: #{color_GROW}!important}
	.box-transform {background-color: #{color_TRANSFORM}!important}
	.box-guidance {background-color: #{color_RUN}!important}
	.box-report {background-color: #{color_RUN}!important}
	.box-advise {background-color: #{color_RUN}!important}
	.box-efficiency {background-color: #{color_RUN}!important}
	.box-governance {background-color: #{color_RUN}!important}
	.box-efficiency {background-color: #{color_GROW}!important}
	.box-service {background-color: #{color_GROW}!important}
	.box-governance {background-color: #{color_GROW}!important}
	.box-guidance {background-color: #{color_GROW}!important}
	.box-opportunities {background-color: #{color_GROW}!important}
	
	
	.box-service {background-color: #{color_TRANSFORM}!important}
	




	.panel-run {border-left: solid 5px #{color_RUN}!important;}
	.panel-grow {border-left: solid 5px #{color_GROW}!important;}
	.panel-transform {border-left: solid 5px #{color_TRANSFORM}!important;}

	.panel-lane-heading-run {border-left: solid 5px #{color_RUN}!important;}
	.panel-lane-heading-grow {border-left: solid 5px #{color_GROW}!important;}
	.panel-lane-heading-transform {border-left: solid 5px #{color_TRANSFORM}!important;}


-	function mapRAG2Color(rag){
-		// there is no amber css color ;-)
-		if (rag=="amber") return "gold";
-		if (rag=="green") return "limegreen";
-		if (!rag) return "lightgrey"
-		// red and green are ok
-		return rag;
-	}

link(rel='stylesheet', href='/stylesheets/flip.css')



// -----------------------------------------------------------------------
// ------------------ mixin contexts ----------------------------
// -----------------------------------------------------------------------
mixin renderContext(context)
	div.table-responsive
		td(style="text-align:center;padding:10px;width:100px")
			div(style="margin-bottom:10px")
				img(src="/images/space_triangle_grey_up.png" style="vertical-align:middle;display:block;margin: auto auto" height="8px" width="30px"  )
			div(style=";color:white;background-color:#{color_PL};line-height:40px")
				span(style="line-height:28px;font-size:16px;font-weight:normal")
					a(href="/targets/overview" style="line-height:28px;font-size:16px;font-weight:normal;color:white") #{_.last(context.split("."))}
			div(style="margin-top:10px")
				img(src="/images/space_triangle_grey_up.png" style="vertical-align:middle;display:block;margin: auto auto" height="8px" width="30px"  )

// -----------------------------------------------------------------------
// ------------------ mixin kpis ----------------------------
// -----------------------------------------------------------------------
mixin renderKPIs(data)
	div.table-responsive
		td(style="text-align:center;padding:10px;width:100px")
			
			each theme in data.children
				if theme.name == 'KPI'
					each kpi in theme.children[0].children
						div(style=";color:white;background-color:#{color_PL};margin-bottom:5px;font-size:10px;font-weight:normal;height:40px;display:flex;justify-content:center;align-content:center;flex-direction:column;")
							|#{kpi.name}
						
			
// -----------------------------------------------------------------------
// ------------------ mixin target groups ----------------------------
// -----------------------------------------------------------------------
mixin renderTargets(data)
	div.table-responsive
		td(style="text-align:center;padding:10px;width:100px")
			
			div(style="margin-bottom:10px")
				img(src="/images/space_triangle_grey_up.png" style="vertical-align:middle;display:block;margin: auto auto" height="8px" width="30px"  )

			each theme in data.children
				if theme.name != 'KPI'
					div(class="box-#{theme.name.toLowerCase()}" style=";color:white;margin-bottom:5px;font-size:12px;font-weight:normal;height:25px;display:flex;justify-content:center;align-content:center;flex-direction:column;")
						|#{theme.name}
					
					each target in theme.children
						table
							tr
								td(style="width:24%;vertical-align:top")
									img(src="/images/iconexp/#{target.children[0].children[0].icon}" width="20px" height="20px")
								td(style="width:76%;line-height:11px;;vertical-align:top")
									div(style=";color:black;margin-bottom:5px;font-size:10px;font-weight:normal;text-align:left")
										|#{target.name.split(" ")[0]}
										br
										b #{_.rest(target.name.split(" ")).join(" ")}

// -----------------------------------------------------------------------
// ------------------ main target template ----------------------------
// -----------------------------------------------------------------------
block content
	
div(style="text-align:right")
	a(href="/api/space/export/xlsx/targets" title="export targets as xlsx")
		span(style="font-size:10px;text-align:right") >> export targets xlsx &nbsp;
		img(src="/images/space/logo_msexcel.png" height="30px")


// ------------------------------ main view -------------------------------
div.container-fluid(style="max-width:1600px")
	div.row
		div(style="font-weight:bold;font-size:20px;color:#{color_PL};text-align:center") 
			img(src="/images/#{context}_logo.png" height="30px")
		
		div(style="font-weight:bold;font-size:20px;color:#{color_PL};text-align:center") "let the world play for real"
		div(style="font-weight:normal;font-size:14px;color:#{color_PL};text-align:center") #{period}
		div(style="margin-top:10px;margin-bottom:10px")
			img(src="/images/space_triangle_bpty_up.png" style="vertical-align:middle;display:block;margin: auto auto" height="20px" width="300px"  )

		div.row(style=";color:white;background-color:#{color_PL};text-align:center;font-size:16px;font-weight:normal;margin-left:-5px;margin-right:-5px;line-height:32px") #{context} group
		
		
		// units / contetxs
		div.row(style="text-align:center")
			table.table.table-borderless(style="background-color:transparent")
				tr
					each context in contexts
						+renderContext(context)
		// KPIs
		div.row(style="text-align:center")
			table.table.table-borderless(style="background-color:transparent")
				tr
					each kpi in targetsClustered.children
						+renderKPIs(kpi)
		//targets
		div.row(style="text-align:center")
			table.table.table-borderless(style="background-color:transparent")
				tr
					each target in targetsClustered.children
						+renderTargets(target)
	

script.
	
	
	$(document).ready(function(){
		// set up flip form link
		$('.fliptarget .turnback').click(function(e){
			var _id = e.target.toString().split('#')[1];
			console.log("flip to back: _id: "+_id);
			$('#'+_id).addClass('flip');
			//$('.fliptarget').addClass('flip');
			e.preventDefault();
		});
		//back flip
		$('.fliptarget .turnfront').click(function(e){
			var _id = e.target.toString().split('#')[1];
			console.log("flip to back: _id: "+_id);
			//$('.fliptarget').removeClass('flip');
			$('#'+_id).removeClass('flip');
		//	console.log("flip back to front: "+e);
			e.preventDefault();
		});
	});




	/**
	* passing parameters to my modal
	* http://stackoverflow.com/questions/20723111/passing-data-to-bootstrap-3-modal
	*/
	$(document).on("click", ".targetDetail", function (e) {
		console.log("**************** targetDetail called *************************");
		e.preventDefault();

		var _self = $(this);

		var __id = _self.data('_id');

		var _id = _self.data('id');
		var _name = _self.data('name');
		var _rag = _self.data('rag');
		var _ragComment = _self.data('ragComment');
		var _outcome = _self.data('outcome');
		var _bywhen = _self.data('bywhen');
		var _description = _self.data('description');
		var _baseline = _self.data('baseline');
		var _measure = _self.data('measure');
		var _link = _self.data('link');
		var _comments = _self.data('comments');
		var _sponsor = _self.data('sponsor');
		var _contributors = _self.data('contributors');
		var _start = _self.data('start');
		var _end = _self.data('end');

		var _m1 = moment(_start).format("MMMM");
		var _m2 = moment(_end).format("MMMM");
		var _y1 = moment(_start).format("YYYY");
		var _y2 = moment(_end).format("YYYY");
		var _y = _y1;
		if (_y1 != _y2) _y+='/'+_y2;

		var _time = _m1 +' - '+_m2+' '+_y;

		var _group = _self.data('group');
		var _theme = _self.data('theme');
		var _cluster = _self.data('cluster');



		console.log("**************** _id: "+__id+" *************************");
		console.log("**************** outcome: "+_outcome+" *************************");
		console.log("**************** description: "+_description+" *************************");
		console.log("**************** sponsor: "+_sponsor+" *************************");

		$(".modal-header #targetId").text(_id);
		$(".modal-header #targetTheme").text(_theme);
		$(".modal-header #targetCluster").text(_cluster);
		$(".modal-header #targetGroup").text(_group);

		$(".modal-body #targetId").text(_id);
		$(".modal-header #targetName").text(_name);
		$(".modal-body #targetName").text(_name);
		$(".modal-body #targetOutcome").text(_outcome);
		$(".modal-body #targetByWhen").text(_bywhen);
		$(".modal-body #targetDescription").text(_description);
		$(".modal-body #targetBaseline").text(_baseline);
		$(".modal-body #targetMeasure").text(_measure);
		$(".modal-body #targetLink").text(_link);
		$(".modal-body #targetComments").text(_comments);
		$(".modal-body #targetSponsor").text(_sponsor);
		$(".modal-body #targetContributors").text(_contributors);
		$(".modal-body #targetTime").text(_time);
		$(".modal-body #targetRAGComment").text(_ragComment);



		$("#modal_theme_icon").attr("src","/images/targets/"+_theme+".png");
		$("#modal_group_icon").attr("src","/images/targets/"+_group+".png");

		$("#targetTheme").attr("style","font-weight:bold;font-size:32px;color:"+_getColor(_theme));
		$("#targetCluster").attr("style","font-weight:bold;font-size:18px;color:"+_getColor(_theme));
		$("#targetRag").attr("style","background-color:"+mapRAG2Color(_rag)+";border-radius: 100%;width:25px;height:25px;");
		if (_ragComment){
			//write text after RAG indicator
		}

		$.get( "/api/space/rest/organization/employee/"+_sponsor, function( data ) {
			//$( ".result" ).html( data );
			console.log("**** employee: "+data["Employee Number"]);
			if (data) {
				var _url = "http://my.bwinparty.com/api/people/images/"+data["Employee Number"];
				console.log("url: "+_url);
				$("#modal_sponsor_icon").attr("src",_url);
			}
			$(_self.attr('href')).modal('show');
		});
	});

	/** 
	* helper to get colors
	*/
	function _getColor(theme){
		switch(theme){
			case "RUN":
				return "#{color_RUN}";
			case "GROW":
				return "#{color_GROW}";
			case "TRANSFORM":
				return "#{color_TRANSFORM}";
			case "KPI":
				return "#{color_PL}";
		}
	}


	function mapRAG2Color(rag){
		// there is no amber css color ;-)
		if (rag=="amber") return "gold";
		if (rag=="green") return "limegreen";
		if (!rag) return "lightgrey"
		// red and green are ok
		return rag;
	}

	function loadColors(context,callback){
			$.get( "/api/space/config", function( data ) {
	  		var c = _.findWhere(data.entities,{'name':context});
				
				callback(c.skin.colors);
			});
	}	
	
	
