include ../kanban_menu




style.
	.text-heading-run {color: #{color_RUN}!important}
	.text-heading-grow {color: #{color_GROW}!important}
	.text-heading-transform {color: #{color_TRANSFORM}!important}

	.box-run {background-color: #{color_RUN}!important}
	.box-grow {background-color: #{color_GROW}!important}
	.box-transform {background-color: #{color_TRANSFORM}!important}
	.box-guidance {background-color: #{color_GROW}!important}
	.box-report {background-color: #{color_RUN}!important}
	.box-advise {background-color: #{color_RUN}!important}
	.box-efficiency {background-color: #{color_RUN}!important}
	.box-governance {background-color: #{color_RUN}!important}
	.box-service {background-color: #{color_TRANSFORM}!important}
	.box-opportunities {background-color: #{color_GROW}!important}
	
	
	

-	function mapRAG2Color(rag){
-		// there is no amber css color ;-)
-		if (rag=="amber") return "gold";
-		if (rag=="green") return "limegreen";
-		if (!rag) return "lightgrey"
-		// red and green are ok
-		return rag;
-	}

link(rel='stylesheet', href='/stylesheets/flip.css')



// -----------------------------------------------------------------------
// ------------------ mixin contexts ----------------------------
// -----------------------------------------------------------------------
mixin renderContext(context)
	div.table-responsive
		td(style="text-align:center;padding:10px;width:100px")
			div(style="margin-bottom:10px")
				img(src="/images/space_triangle_grey_up.png" style="vertical-align:middle;display:block;margin: auto auto" height="8px" width="30px"  )
			div(style=";color:white;background-color:#{_.findWhere(config.entities,{'name':context}).skin.colors.primary};line-height:40px")
				span(style="line-height:28px;font-size:16px;font-weight:normal")
					a(href="/targets/overview?context=#{context}" style="line-height:28px;font-size:16px;font-weight:normal;color:white") #{_.rest(context.split(".")).join(".")}
			div(style="margin-top:10px")
				img(src="/images/space_triangle_grey_up.png" style="vertical-align:middle;display:block;margin: auto auto" height="8px" width="30px"  )
				

// -----------------------------------------------------------------------
// ------------------ mixin kpis ----------------------------
// -----------------------------------------------------------------------
mixin renderKPIs(data)
	div.table-responsive
		td(style="text-align:center;padding:10px;width:100px")
			
			each theme in data.children
				if theme.name == 'KPI'
					each kpi in theme.children[0].children
						div(style=";color:white;background-color:#{_.findWhere(config.entities,{'name':kpi.children[0].context}).skin.colors.primary};margin-bottom:5px;font-size:10px;font-weight:normal;height:40px;display:flex;justify-content:center;align-content:center;flex-direction:column;")
							|#{kpi.name}
						
			
// -----------------------------------------------------------------------
// ------------------ mixin target groups ----------------------------
// -----------------------------------------------------------------------
mixin renderTargets(data)
	div.table-responsive
		td(style="text-align:center;padding:10px;width:100px")
			
			div(style="margin-bottom:10px")
				img(src="/images/space_triangle_grey_up.png" style="vertical-align:middle;display:block;margin: auto auto" height="8px" width="30px"  )

			each theme in data.children
				if theme.name != 'KPI'
					div(class="box-#{theme.name.toLowerCase()}" style=";color:white;margin-bottom:5px;font-size:12px;font-weight:normal;height:25px;display:flex;justify-content:center;align-content:center;flex-direction:column;")
						|#{theme.name}
					
					each target in theme.children
						table
							tr
								td(style="width:24%;vertical-align:top")
									img(src="/images/iconexp/#{target.children[0].children[0].icon}" width="20px" height="20px")
								td(style="width:76%;line-height:11px;;vertical-align:top")
									div(style=";color:black;margin-bottom:5px;font-size:10px;font-weight:normal;text-align:left")
										|#{target.name.split(" ")[0]}
										br
										b #{_.rest(target.name.split(" ")).join(" ")}

// -----------------------------------------------------------------------
// ------------------ main target template ----------------------------
// -----------------------------------------------------------------------
block content
	
div(style="text-align:right")
	a(href="/api/space/export/xlsx/targets" title="export targets as xlsx")
		span(style="font-size:10px;text-align:right") >> export targets xlsx &nbsp;
		img(src="/images/space/logo_msexcel.png" height="30px")


// ------------------------------ main view -------------------------------
div.container-fluid(style="max-width:1600px")
	div.row
		div(style="font-weight:bold;font-size:20px;color:#{color_PL};text-align:center") 
			img(src="/images/#{context}_logo.png" height="30px")
		
		div(style="font-weight:bold;font-size:20px;color:#{color_PL};text-align:center") "let the world play for real"
		div(style="font-weight:normal;font-size:14px;color:#{color_PL};text-align:center") #{period}
		div(style="margin-top:10px;margin-bottom:10px")
			img(src="/images/space_triangle_bpty_up.png" style="vertical-align:middle;display:block;margin: auto auto" height="20px" width="300px"  )

		div.row(style=";color:white;background-color:#{color_PL};text-align:center;font-size:16px;font-weight:normal;margin-left:-5px;margin-right:-5px;line-height:32px") #{context} group
		
		
		// units / contetxs
		div.row(style="text-align:center")
			table.table.table-borderless(style="background-color:transparent")
				tr
					each context in contexts
						+renderContext(context)
		// KPIs
		div.row(style="text-align:center")
			table.table.table-borderless(style="background-color:transparent")
				tr
					each kpi in targetsClustered.children
						+renderKPIs(kpi)
		//targets
		div.row(style="text-align:center")
			table.table.table-borderless(style="background-color:transparent")
				tr
					each context in targetsClustered.children
						+renderTargets(context)
	

script.
	
	
	$(document).ready(function(){
		// set up flip form link
		$('.fliptarget .turnback').click(function(e){
			var _id = e.target.toString().split('#')[1];
			console.log("flip to back: _id: "+_id);
			$('#'+_id).addClass('flip');
			//$('.fliptarget').addClass('flip');
			e.preventDefault();
		});
		//back flip
		$('.fliptarget .turnfront').click(function(e){
			var _id = e.target.toString().split('#')[1];
			console.log("flip to back: _id: "+_id);
			//$('.fliptarget').removeClass('flip');
			$('#'+_id).removeClass('flip');
		//	console.log("flip back to front: "+e);
			e.preventDefault();
		});
	});





	/** 
	* helper to get colors
	*/
	function _getColor(theme){
		switch(theme){
			case "RUN":
				return "#{color_RUN}";
			case "GROW":
				return "#{color_GROW}";
			case "TRANSFORM":
				return "#{color_TRANSFORM}";
			case "KPI":
				return "#{color_PL}";
		}
	}


	function mapRAG2Color(rag){
		// there is no amber css color ;-)
		if (rag=="amber") return "gold";
		if (rag=="green") return "limegreen";
		if (!rag) return "lightgrey"
		// red and green are ok
		return rag;
	}

	function loadColors(context,callback){
			$.get( "/api/space/config", function( data ) {
	  		var c = _.findWhere(data.entities,{'name':context});
				
				callback(c.skin.colors);
			});
	}	
	
	function getSkin(config,context){
		return _.findWhere(config.entities,{'name':context}).skin;
	}
	
	
