

mixin chartIncident(title,chart)
	div.row(style="margin: auto;max-width:1200px")
		div.panel.panel-default
			div.panel-heading 
				span(style="color:black;font-size:24px;font-weight:bold") #{title}
				|&nbsp;|&nbsp;
				span(id="aggregate_#{chart}" style="font-weight:bold") 
				|&nbsp;|&nbsp;for period: 
				span(id="period_#{chart}" style="color:black;font-weight:bold")
			div.panel-body
				.btn-group
					a.btn.btn-default(href='javascript:void(0)') Quarter
					a.btn.btn-default.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
						span.caret
						ul.dropdown-menu
							li
								a.dropdown(id="#{chart}_q1-2014") Q1-2014
							li
								a.dropdown(id="#{chart}_q2-2014") Q2-2014
							li
								a.dropdown(id="#{chart}_q3-2014") Q3-2014
							li
								a.dropdown(id="#{chart}_q4-2014") Q4-2014
							li
								a.dropdown(id="#{chart}_q1-2015") Q1-2015
							li
								a.dropdown(id="#{chart}_q1-2015") Q2-2015
				.btn-group
					a.btn.btn-default(href='javascript:void(0)') HalfYear
					a.btn.btn-default.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
						span.caret
						ul.dropdown-menu
							li
								a.dropdown(id="#{chart}_h1-2014") H1-2014
							li
								a.dropdown(id="#{chart}_h1-2014") H2-2014
							li
								a.dropdown(id="#{chart}_q1-2015") H1-2015
				.btn-group
					a.btn.btn-default(href='javascript:void(0)') Year
					a.btn.btn-default.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
						span.caret
						ul.dropdown-menu
							li
								a.dropdown(id="#{chart}_2014") 2014
							li
								a.dropdown(id="#{chart}_2015") 2015

				.btn-group
					a.btn.btn-default(href='javascript:void(0)') Aggregation
					a.btn.btn-default.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
						span.caret
						ul.dropdown-menu
							li
								a.dropdown(id="#{chart}_aggregate-daily") daily
							li
								a.dropdown(id="#{chart}_aggregate-weekly") weekly
							li
								a.dropdown(id="#{chart}_aggregate-monthly") monthly
							li
								a.dropdown(id="#{chart}_aggregate-quarterly") quarterly
							li
								a.dropdown(id="#{chart}_aggregate-halfyearly") halfyearly
							li
								a.dropdown(id="#{chart}_aggregate-yearly") yearly


					
				div(id="#{chart}" style="text-align:center")
					svg
	script.
		init("#{chart}");





script.
	$('a.dropdown').click( function(event) { 
		console.log("...befor clicki: chart: "+_chart+" period: "+_period+" aggregate: "+_aggregate); 
		var _prio =event.target.id.split("_")[0].split("chart")[1];
		
		var _chart=event.target.id.split("_")[0];
		if (_.startsWith(event.target.id.split("_")[1],"aggregate")){
			_aggregate =event.target.id.split("_")[1].split("-")[1];
		}
		else
		{
			_period = event.target.id.split("_")[1];	
		}
		//_aggregate ="monthly";
		console.log("...clicki: chart: "+_chart+" period: "+_period+" aggregate: "+_aggregate); 
		
		$("#period_"+_chart).text(_period);
		$("#aggregate_"+_chart).text(_aggregate);

		redraw(_chart,_period,_aggregate,_prio);
	});
	
