include ../kanban_menu

link(rel='stylesheet', href='/stylesheets/timeline.css')

style.
	.descriptor{
		width:100px;
		font-size:10px;
		font-style:italic;
		text-align:right;
		vertical-align:top;
	}
	.valueStandard{
		max-width:400px;
		font-size:12px;
		padding-left:10px
	}
	.valueBold{
		max-width:400px;
		font-size:12px;
		padding-left:10px;
		font-weight:bold
	}

mixin renderPriority(item,size)
	img(src="/images/incidents/#{item.priority.split(' ')[0]}.png" height="#{size}px") 

mixin renderDetailRow(key,keyStyle,value,valueStyle)
		tr
			td(class='#{keyStyle}')
				|#{key}
			td(class='#{valueStyle}')
				|#{value}

mixin renderDetail(item)
	table.table-responsive.table-hover(style="text-align:left")
		tr
			td.descriptor
				+renderPriority(item,30)
			td(style="max-width:400px;font-size:16px;padding-left:10px;vertical-align:bottom")
				a(href="https://bwinparty.service-now.com/ess/incident.do?sys_id=#{item.sysId}" target="_new")
					|#{item.id}
				
		+renderDetailRow("business service","descriptor",item.businessService,"valueBold")
		+renderDetailRow("label - labelType","descriptor",item.labelType+" - "+item.label,"valueStandard")
		+renderDetailRow("opened at","descriptor",moment(item.openedAt).format("YYYY-MM-DD HH:mm:ss"),"valueStandard")
		+renderDetailRow("category","descriptor",item.subCategory+" - "+item.category,"valueStandard")
		+renderDetailRow("short description","descriptor",item.shortDescription,"valueStandard")
		+renderDetailRow("state","descriptor",item.state,"valueStandard")
		+renderDetailRow("assignment group","descriptor",item.assignmentGroup,"valueStandard")
		if item.resolvedAt
			+renderDetailRow("resolved at","descriptor",moment(item.resolvedAt).format("YYYY-MM-DD HH:mm:ss"),"valueStandard")
			+renderDetailRow("time to resolve","descriptor",item.timeToResolve,"valueStandard")
		if item.closedAt
			+renderDetailRow("closed at","descriptor",moment(item.closedAt).format("YYYY-MM-DD HH:mm:ss"),"valueStandard")
			+renderDetailRow("close code","descriptor",item.closeCode,"valueStandard")
			+renderDetailRow("SLA breach","descriptor",item.slaBreach,"valueStandard")
			+renderDetailRow("SLA breach time","descriptor",item.slaBreachTime,"valueStandard")
		+renderDetailRow("is active","descriptor",item.active,"valueStandard")
		+renderDetailRow("problem","descriptor",item.problemId,"valueStandard")
		+renderDetailRow("imapct - urgency - severity","descriptor",item.imact+" - "+item.urgency+" - "+item.severity,"valueStandard")
		+renderDetailRow("location","descriptor",item.location,"valueStandard")
		+renderDetailRow("environment","descriptor",item.environment,"valueStandard")
		+renderDetailRow("created by","descriptor",item.createdBy,"valueStandard")
		+renderDetailRow("contact type","descriptor",item.contactType,"valueStandard")
		+renderDetailRow("notify","descriptor",item.notify,"valueStandard")
		+renderDetailRow("description","descriptor",item.description,"valueStandard")

mixin renderTimelineBox(change)
	-var _class="default"
	-var _icon="glyphicon glyphicon-pencil"
	-var _header="CHANGED"
	
	if _.keys(change.change).indexOf("priority")>-1
		-_class="warning"
		-_header="CHANGED PRIORITY"
		
	else if _.keys(change.change).indexOf("closedAt")>-1
		-_class="success"
		-_icon="glyphicon glyphicon-ok"
		-_header="CLOSED"
	else if _.keys(change.change).indexOf("assignmentGroup")>-1
		-_header="RE-ASSIGNED"

	.timeline-badge(class="#{_class}")
			i(class="#{_icon}")
	.timeline-panel
		.timeline-heading
			h4.timeline-title #{_header}
			p
				small.text-muted
					i.glyphicon.glyphicon-time
					|#{moment(change.changeDate).format("YYYY-MM-DD HH:mm:ss")}
		.timeline-body
				each _key in _.keys(change.change)
					table.table(style="max-width:300px")
						tr
							td.descriptor(style="max-width:100px") #{_key}:
							td.valueStandard(style="width:90px;text-align:right")
								if _key == "priority"
									img(src="/images/incidents/#{change.change[_key][0].split(' ')[0]}.png" height="20px") 
								else
									|#{change.change[_key][0]}
							td(style="width:20px;text-align:left")&rarr;
							td.valueStandard(style="width:90px;text-align:left")  
								if _key == "priority"
									img(src="/images/incidents/#{change.change[_key][1].split(' ')[0]}.png" height="20px") 
								else
									|#{change.change[_key][1]}

block content
	script(type="text/javascript").
		$(document).ready(function() {
			$('#kanban_menu').sidr({speed:300});
		});

	
	div.panel(style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;;max-width:1000px;text-align: center;margin: 10px auto;")
		.panel-heading
			h3.panel-title INCIDENT DETAIL
		.panel-body
			.panel(style="padding-top:20px;padding-bottom:20px")
				+renderDetail(incident)
			
			ul.timeline
				li
					.timeline-badge(class="danger")
							i.glyphicon.glyphicon-flash
					.timeline-panel
						.timeline-heading
							h4.timeline-title OPENED
							p
								small.text-muted
									i.glyphicon.glyphicon-time
									|#{moment(incident.openedAt).format("YYYY-MM-DD HH:mm:ss")}
						.timeline-body
				-var x=1;
				each change in changelog
					-x++;
					if (x%2 == 1)
						li
							+renderTimelineBox(change)
					else
						li.timeline-inverted
							+renderTimelineBox(change)

			if problem
				hr
				.panel(style="padding-top:20px;padding-bottom:20px")
					+renderDetail(problem)
