// jade bootstrap elemts 

include kanban_menu

link(rel='stylesheet', href='/stylesheets/flip.css')

script.
	$(document).ready(function(){
		// set up flip form link
		$('.fliptarget .turnback').click(function(e){
			var _id = e.target.toString().split('#')[1];
			console.log("flip to back: _id: "+_id);
			$('#'+_id).addClass('flip');
			//$('.fliptarget').addClass('flip');
			e.preventDefault();
		});
		//back flip
		$('.fliptarget .turnfront').click(function(e){
			var _id = e.target.toString().split('#')[1];
			console.log("flip to back: _id: "+_id);
			//$('.fliptarget').removeClass('flip');
			$('#'+_id).removeClass('flip');
		//	console.log("flip back to front: "+e);
			e.preventDefault();
		});
	});




// ------------------ mixin start ----------------------------
mixin renderTarget(target)
	div.fliptarget.panel(id="#{target.id}")
		div.front
			div.panel(style="position: relative;background-color:white;width:250px;text-align: left;")
				.panel-heading(style="")
					table(style="")
						tr(style="line-height:10px;")
							td(style=";width:20px;font-size:9px;height:20px;text-align:justify;vertical-align:middle;") 
								i.glyphicon.glyphicon-record(style="font-size:12px")
							td(style="width:220px;font-size:15px;vertical-align:middle;font-weight:bold;;height:20px;") 
								|TARGET TITLE #{target.name}
								a.turnback(id="#{target.id}" href="##{target.id}") flip
				.panel-body
					table(style="")
						tr(style="line-height:10px;")
							td(style="width:160px;font-size:9px;height:30px;text-align:justify;vertical-align:middle;border-bottom: 1px solid lightgrey") 
								target1 - blabla long text ipsem lorem blabla and more text and even a third line to see
							td(style="text-align:center;width:70px;font-size:30px;vertical-align:middle;font-weight:bold;;height:30px;border-bottom: 1px solid lightgrey") 
								|50
								span(style="font-size:10px;font-weight:normal") %
						tr(style="height:18px;border-bottom: 1px solid black;")
							td(style="width:200px;font-size:12px;vertical-align:middle;height:20px")
								target2 - bla bla
							td(style="text-align:center;width:80px;font-size:30px;vertical-align:middle;font-weight:bold;;height:30px") 
								|50
								span(style="font-size:10px;font-weight:normal") %
		div.back
			div.panel(style="position: relative;background-color:white;width:250px;text-align: left;")
				.panel-heading(style="")
					table(style="")
						tr(style="line-height:10px;")
							td(style=";width:20px;font-size:9px;height:20px;text-align:justify;vertical-align:middle;") 
								i.glyphicon.glyphicon-record(style="font-size:12px")
							td(style="width:220px;font-size:15px;vertical-align:middle;font-weight:bold;;height:20px;") 
								|TARGET BACKSIDE :-) 
				.panel-body
					table(style="")
						tr(style="line-height:10px;")
							td(style="width:160px;font-size:9px;height:30px;text-align:justify;vertical-align:middle;border-bottom: 1px solid lightgrey") 
								backside stuff......
							td(style="text-align:center;width:70px;font-size:10px;vertical-align:middle;font-weight:bold;;height:30px;border-bottom: 1px solid lightgrey") 
								|50
								span(style="font-size:10px;font-weight:normal") %
								
								a.turnfront(id="#{target.id}" href="##{target.id}") flip back

block content
div(style="margin-left:20px")

	
	// ************ target card ******************

	
	.row
		h3 flip cards
		div.panel(style="height:300px")
			.panel-heading(style="-webkit-transform: translateX(-100%) rotate(-90deg);-webkit-transform-origin: right top;-moz-transform: translateX(-100%) rotate(-90deg); width:190px;text-align:center;font-weight:bold ")
				span(style="font-size:25px") RUN 
				br
				span(style="font-size:12px") OPERATIONAL EXCELLENCE
			.panel-body(style="margin-left:50px;margin-top:-50px")
				div.row(style="font-size:11px;margin-left:2px")
					div.col-sm-2.col-md-3.col-lg5
						+renderTarget({"id":1,name:"target1"})
					div.col-sm-2.col-md-3.col-lg5
						+renderTarget({"id":2,name:"target2"})
					div.col-sm-2.col-md-3.col-lg5
						+renderTarget({"id":3,name:"target3"})
					div.col-sm-2.col-md-3.col-lg5
						+renderTarget({"id":4,name:"target4"})
			
			
	
	// ************ toggle ******************
	.row
		h3 toggle
			
			div(class="well page" id="toggle-button" style="width:500px")
				h1.header
					Toggle Button
					.togglebutton
						label 
							| Wi-Fi
							input(type="checkbox" checked)
					.togglebutton
						label 
							| bluetooth
							input(type="checkbox") 
			style.
				#toggle-button h2 {
					font-size: 18.7199993133545px;
					font-weight: bold;
					margin-bottom: 30px;
					margin-top: 50px;
					}
					#toggle-button .togglebutton label {
					margin: 20px 10px;
					width: 200px;
					}
					#toggle-button .togglebutton .toggle {
					float: right;
				}
					
				
	
	
	// ************ image ******************
	.row
		h3 image
		//img(src="https://my.bwinparty.com/~/media/651906AE6469400A9A55AD99426BE8FC.ashx?h=30&la=en&w=30" alt="cactus" class="img-circle")
		
	
	
	// ************ material cards ******************
	.row
		hr.divider
		h3 material cards
		
		.row
			.col-xs-12.col-sm-6.col-md-6.col-lg-2
				.box
					.box-icon
						span.fa.fa-4x.fa-html5
					.info
						h4.text-center Title
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
						a.btn(href="") Link

			.col-xs-12.col-sm-6.col-md-6.col-lg-2
				.box
					.box-icon
						span.fa.fa-4x.fa-html5
					.info
						h4.text-center Title
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
						a.btn(href="") Link
			
			.col-xs-12.col-sm-6.col-md-6.col-lg-2
				.box
					.box-icon
						span.fa.fa-4x.fa-html5
					.info
						h4.text-center Title
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
						a.btn(href="") Link				
			
			.col-xs-12.col-sm-6.col-md-6.col-lg-2
				.box
					.box-icon
						span.fa.fa-4x.fa-html5
					.info
						h4.text-center Title
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
						a.btn(href="") Link					
	
	
	
	// ************ dropbdown button ******************
	.row
		hr.divider
		//glyphicon glyphicon-trash
		h3 dropdown
		.dropdown
			button.btn.btn-default.dropdown-toggle(type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true") Dropdown
				span.caret
			ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu1")
				li(role="presentation")
					a(role="menuitem" tabindex="-1" href="#") Action
				li(role="presentation")
					a(role="menuitem" tabindex="-1" href="#") Another action



	// ************ pop over ******************
	
	.row
		hr.divider
		h3 popover
		button.btn.btn-danger(id="popover" type="button" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?") Click to toggle popover
			
		// must be manually initialized
		script $('#popover').popover()



	// ************ collapse ******************
	.row
		hr.divider
		h3 collapse
		button.btn.btn-primary(type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample") press for collapse

		.collapse(id="collapseExample")
			.well
				text inside a well
	


	// ************ small modal  ******************
	// via javascript => $("#modalbutton").click()
	.row
		hr.divider
		h3 modal small
		button.btn.btn-info(id="modalbutton" type="button" data-toggle="modal" data-target=".bs-example-modal-sm") Small modal

		.modal.fade.bs-example-modal-sm(tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")
			.modal-dialog.modal-sm
				.modal-content
					.modal-header
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
						h4.modal-title(id="myModalLabel") Are your sure ??
					.modal-body
						p content goes here 
						p more content
						

					.modal-footer
						button.btn.btn-default(type="button") i am scared... 
					
						button.btn.btn-danger(type="button") 
							span.glyphicon.glyphicon-flash 
							span delete now 
					
	// ************ tabbed menu  ******************
	.row
		hr.divider
		h3 tabs
		div(role="tabpanel")
			// Nav tabs 
			ul.nav.nav-tabs(role="tablist")
				li.active(role="presentation")
					a(href="#home" aria-controls="home" role="tab" data-toggle="tab") Home
				li(role="presentation")
					a(href="#home" aria-controls="profile" role="tab" data-toggle="tab") TAB 1
				li(role="presentation") 
					a(href="#home" aria-controls="messages" role="tab" data-toggle="tab") TAB 2
				li(role="presentation") 
					a(href="#home" aria-controls="settings" role="tab" data-toggle="tab") TAB 3

		// Tab panes
			.tab-content
				.tab-pane.active(role="tabpanel" id="home") UUUU
					span blabla
				.tab-pane.active(role="tabpanel" id="profile")
					span blabla
				.tab-pane.active(role="tabpanel" id="messages")
					span blabla
				.tab-pane.active(role="tabpanel" id="settings")
					span blabla
			script.
				$('#myTab a').click(function (e) {
					e.preventDefault()
				  $(this).tab('show')
				})

	
	
	// ************ multiselects ******************
	.row
		hr.divider
		h3 multiselect
		.btn-group-xs
			span.glyphicon.glyphicon-filter
			select.multiselect(id="metricfilter" multiple="multiple")
				option(value="baseline") baseline
				option(value="forecast1") forecast-1
				option(value="forecast2" selected) forecast-2
				option(value="goal" selected) goal
				option(value="potentials" selected) potentials
			
	
			script.
				$(document).ready(function() {
					$('#metricfilter').multiselect({
					buttonClass: 'btn-primary btn-sm',
					onChange: function(element,checked){
						
						var _val = $(element).val()
						if (checked)
							//hideMetrics([{"name":_val,"hide":true}])
							console.log("checked");
						else
							//hideMetrics([{"name":_val,"hide":false}])
							console.log("!checked");
						
						//drawAll();
						console.log("element: "+_val+" checked: "+checked);
						}
					});
				});




	// ************ daterange picker ******************
	.row
		hr.divider
		h3 daterange picker
		div.pull-left(id="kanbanrange" style="margin-left:10px;margin-bottom:10px")
			span.fa.fa-calendar.fa-lg
			span(style="font-size:12px;font-weight:bold;margin-left:10px") KANBAN RANGE
			
			span(style="font-size:10px")
	script.
		
		
		
		$('#kanbanrange').daterangepicker(
			{
			  ranges: {
				 'ALL': [new Date(), new Date()],
				 'WIP': [moment().subtract('days', 10), moment().add('days', WIP_WINDOW_DAYS+10)],
				 'History': [moment("2012-01-01"), moment().add("days",10)],
				 'Last 30 Days': [moment().subtract('days', 29), moment()],
				 'This Month': [moment().startOf('month'), moment().endOf('month')],
				 'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
			  },
			  startDate: KANBAN_START,
			  endDate: KANBAN_END
			},
			function(start, end) {
				$('#kanbanrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
				KANBAN_START = new Date(start);
				KANBAN_END=new Date(end);
				console.log("..in daterange function");
			}
		);
					
	// ************ table  ******************
	.row
		hr.divider
		h3 panel with table
		.panel.panel-default(style="width:500px")
			.panel-heading Panel heading without title
			.panel-body
				table.table.table-striped.table-hover.table-condensed
					thead
						tr
							th Item ID
							th Item Name
							th Item Price
					tbody
						tr
							td 1
							td 2
							td 3
						tr
							td 122
							td 2222
							td 3222
	include board/includes/menu_svg_export.jade
	include board/includes/menu_visibility_switches.jade


	// ************ 3d flip ******************

	.row
		hr.divider
		h3 3 flip
	
		//div.container
		//div.row
		div(id="formContainer" style="background-color:white")
			form.form-signin(id="login" role="form")
				|xxxx
				a.flipLink(href="#" id="flipToRecover")
					div(id="triangle-topright")

			form.form-signin(id="recover" role="form")
				|yyyy
				a.flipLink(href="#" id="flipToRecover")
					div(id="triangle-topleft")

	script.
		$(function(){

			// Checking for CSS 3D transformation support
			$.support.css3d = supportsCSS3D();
			
			var formContainer = $('#formContainer');
			
			// Listening for clicks on the ribbon links
			$('.flipLink').click(function(e){
				
				// Flipping the forms
				formContainer.toggleClass('flipped');
				
				// If there is no CSS3 3D support, simply
				// hide the login form (exposing the recover one)
				if(!$.support.css3d){
					$('#login').toggle();
				}
				e.preventDefault();
			});
			
			formContainer.find('form').submit(function(e){
				// Preventing form submissions. If you implement
				// a backend, you might want to remove this code
				e.preventDefault();
			});
			
			
			// A helper function that checks for the 
			// support of the 3D CSS3 transformations.
			function supportsCSS3D() {
				var props = [
					'perspectiveProperty', 'WebkitPerspective', 'MozPerspective'
				], testDom = document.createElement('a');
				  
				for(var i=0; i<props.length; i++){
					if(props[i] in testDom.style){
						return true;
					}
				}
				
				return false;
			}
		});	
		


	
	include includes/material
			
		
