include kanban_menu

link(rel='stylesheet', href='/stylesheets/login.css')

// board detail card
mixin board(board)
	div.col-sm-1.col-md-3
		div.panel(style=" position: relative;padding: 10px 10px 10px;display: block;background-color:white;;width:250px;height:320px;text-align: center;margin: 10px auto;")
			h4 #{board.name}
			a(href="/kanban/#{board._id}")
				img.img-thumbnail(src="/images/boards/thumbs/#{board._id}.png"  style=" height:100px"  alt="...")
			br
			h4
				small #{board.vision}
			span(style="font-size:10px; color:#999999") created by: <b>cactus</b> [2015-01-23]
			br
			a.btn.btn-primary.btn-xs(href="/kanban/#{board._id}" role="button") View
			a.btn.btn-default.btn-xs(href="/admin?type=boards" role="button") Edit
			a.delete_board.btn.btn-link(id="delete_modal" data-id="#{board._id}" data-name="#{board.name}" href="#deleteBoard" role="button")

				span(style="color:red;font-size:10px") Delete


block content
	div.panel.panel-default
		div.panel-heading ...select a board
		div.panel-body

			// new board
			div.col-sm-1.col-md-3
				div.panel(style=" position: relative;padding: 10px 10px 10px;display: block;background-color:white;;width:250px;height:320px;text-align: center;margin: 10px auto;")
					h4 &nbsp;
					a(data-toggle="modal" data-target="#createBoardModal")
						img.img-thumbnail(src="/images/boards/s2t_board_new.png"  style=" height:100px"  alt="...")
					br
					h4
						small &nbsp;
					br
					button.btn.btn-info.btn-xs(type="button" data-toggle="modal" data-target="#createBoardModal")
						span create
			each val in boards
				+board(val)


			// ************ remove modal  ******************
			.modal.fade.bs-example-modal-sm(id="deleteBoard" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")
				.modal-dialog.modal-sm
					.modal-content
						.modal-header
							button.close(type="button" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true") &times;
							h4.modal-title(id="myModalLabel") Are your sure ??
							br
							span(style="color:red; text-align:center") this will <b>permanently</b> delete
							br
							|board:
							span(id="boardName" style="font-weight:bold")
							br
							|id:
							span(id="boardId" style="font-size:10px;color:grey;font-style:italic")
						.modal-body
							div.panel(style=" position: relative;padding: 10px 10px 10px;display: block;background-color:white;;width:250px;text-align: center;margin: 10px auto;")
								input(type="hidden" id="deleteBoardId" name="deleteBoardId" value="")
								button.btn.btn-danger(id="removeboardsubmit" type="button" )
									span.glyphicon.glyphicon-flash
									span delete now




	//Modal
	div.modal.fade(id="createBoardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" )
		div.modal-dialog
			div.modal-content(style="opacity:1;")
				div.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times
					img.img-thumbnail(src="/images/boards/s2t_board_new.png"  style=" height:60px" )
				div.modal-body
					include ./board/forms/form_create

include includes/material

// some code ;-)
script(type='text/javascript').

	$("#removeboardsubmit").click(function() { console.log("########KCHING");submitRemove(); });

	$("#createboardsubmit").click(function() {console.log("create board submit pressed"); submitCreate(); });


	/**
	* passing parameters to my modal
	* http://stackoverflow.com/questions/20723111/passing-data-to-bootstrap-3-modal
	*/
	$(document).on("click", ".delete_board", function (e) {

		console.log("**************** delete called *************************");
		e.preventDefault();

		var _self = $(this);

		var _id = _self.data('id');
		var _name = _self.data('name');


		console.log("**************** id: "+_id+" *************************");

		$(".modal-header #boardId").text(_id);
		$(".modal-header #boardName").text(_name);
		$(".modal-body #removeboardsubmit").val(_id);

		console.log("+++++"+_self.attr('href'));
		console.log("+++++"+$(_self.attr('href')).modal);

		$(_self.attr('href')).modal('show');
	});


	function submitCreate() {
		var form = document.getElementById("createboardform");


		var _board = {};

		// default viewconfig
		var _viewconfig ={};
		_viewconfig.vision="show";
		_viewconfig.metrics="off";
		_viewconfig.start="hide";
		_viewconfig.queues="show";
		_viewconfig.targets="off";
		_viewconfig.initiatives="show";
		_viewconfig.guides="show";
		_viewconfig.targets="off";
		_viewconfig.lanes="show";
		



		_board.name = form.name.value;
		_board.vision = form.vision.value;
		_board.subvision = form.subvision.value;
		_board.mission = form.mission.value;
		_board.startDate = form.startdate.value;
		
		_board.endDate = form.enddate.value;
		_board.width = form.width.value;
		_board.height = form.height.value;
		_board.itemScale = form.itemscale.value;
		_board.itemFontScale = form.itemfontscale.value;
		_board.WIPWindowDays = form.wip.value;
		_board.laneboxRightWidth = form.rightbox.value;
		_board.viewConfig = _viewconfig;
		_board.roadmapInitiatives = form.roadmapinitiatives.checked;
		_board.groupby = form.groupby.value;
		
		var _json = JSON.stringify(_board);

		var _url = "/api/space/rest/board";
		
		
		//form.ajax call
		$.ajax({
			type: "POST",
			url: _url,
			data: { 'board': _json},
					cache: false,
			dataType:"json",
			success: function(msg)
				{
					console.log("***** and now do a client side redirect: "+msg._id);
					window.location="/kanban/"+msg._id;

				},
			error: function(msg)
				{
					//if (afterHandlerCallback !=undefined)
					$('.top-left').notify({
							message: { html: "<span class=\"glyphicon glyphicon-fire\"></span><span style=\"font-size:10px;font-weight:bold\"> ajaxCall.("+_url+") says:</span> <br/><div style=\"font-size:10px;font-weight:normal;margin-left:20px\">"+JSON.stringify(msg)+"</div>" },
							fadeOut: {enabled:true,delay:2000},
							type: "danger"
						  }).show(); // for the ones that aren't closable and don't fade out there is a .hide() function.
				}
			});
		return false;
	}



	function submitRemove() {

		var _id = $(".modal-body #removeboardsubmit").val();

		console.log("------------------- and now lets remove : _id = "+_id);

		var _ids = [];
		_ids.push(_id);
		var _json = JSON.stringify(_ids);
		var _url = "/api/space/rest/boards";

		//form.ajax call
		$.ajax({
			type: "DELETE",
			url: _url,
			data: { 'itemJson': _json},
					cache: false,
			dataType:"json",
			success: function(msg)
				{
					console.log("***** and now do a client side redirect: ");
					window.location="/boards";

				},
			error: function(msg)
				{
					console.log("***** error "+msg);
					//if (afterHandlerCallback !=undefined)
					$('.top-left').notify({
							message: { html: "<span class=\"glyphicon glyphicon-fire\"></span><span style=\"font-size:10px;font-weight:bold\"> ajaxCall.("+_url+") says:</span> <br/><div style=\"font-size:10px;font-weight:normal;margin-left:20px\">"+JSON.stringify(msg)+"</div>" },
							fadeOut: {enabled:true,delay:2000},
							type: "danger"
						  }).show(); // for the ones that aren't closable and don't fade out there is a .hide() function.
				}
			});

		return false;
	}
