include kanban_menu

//link(rel='stylesheet', href='/stylesheets/material.css')

block content

div.panel(style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;width:400px;text-align: left;margin: 10px auto;")
	.panel-heading
		i.glyphicon.glyphicon-barcode(style="font-size:15px")
		span(style="font-size:20px") &nbsp;CONFIG
	.panel-body

		|#{configHtml}

		ul(style="text-align:left;font-size:10px")
			li version:
				b #{config.version}-#{config.build}

			li environment:
				b #{config.env}

			li session.CONTEXT:
				b #{session.CONTEXT}




			li os:
				ul
					li platform:
						b #{os.platform()}
					li arch:
						b #{os.arch()}
					li release:
						b #{os.release()}
					li uptime:
						b #{os.uptime()}
					li loadavg:
						b #{os.loadavg()}
					li freemem:
						b #{os.freemem()}
					li cpus:
						b #{os.cpus().length}

		br
		a.btn.btn-xs.btn-warning(id="sendtestnotification" href="#" ) send testmail
		a.btn.btn-xs.btn-info(id="switchcontext_bpty" href="#" ) switch context --> bpty
		a.btn.btn-xs.btn-info(id="switchcontext_studios" href="#" ) switch context --> bpty.studios
		a.btn.btn-xs.btn-info(id="switchcontext_bwin" href="#" ) switch context --> bpty.bwin
		a.btn.btn-xs.btn-info(id="switchcontext_kalixa" href="#" ) switch context --> bpty.kalixa
		
		a.btn.btn-xs.btn-info(id="switchcontext_games" href="#" ) switch context --> bpty.games
		a.btn.btn-xs.btn-info(id="switchcontext_legal" href="#" ) switch context --> bpty.legal
		a.btn.btn-xs.btn-info(id="switchcontext_cs" href="#" ) switch context --> bpty.cs
		a.btn.btn-xs.btn-info(id="switchcontext_comms" href="#" ) switch context --> bpty.comms
		a.btn.btn-xs.btn-info(id="switchcontext_finance" href="#" ) switch context --> bpty.finance
		a.btn.btn-xs.btn-info(id="switchcontext_hr" href="#" ) switch context --> bpty.hr
		a.btn.btn-xs.btn-info(id="switchcontext_regaffairs" href="#" ) switch context --> bpty.regaffairs
		a.btn.btn-xs.btn-info(id="switchcontext_cosec" href="#" ) switch context --> bpty.cosec
		a.btn.btn-xs.btn-info(id="switchcontext_facilities" href="#" ) switch context --> bpty.facilities
		
		
		
		a.btn.btn-xs.btn-info(id="switchcontext_generic" href="#" ) switch context --> generic.example

		br
		a.btn.btn-xs.btn-danger(id="sync_employeeimages" href="#" ) sync employeeimages
		br
		a.btn.btn-xs.btn-danger(id="sync_availability" href="#" ) force sync availability
		br
		a.btn.btn-xs.btn-danger(id="sync_incidents" href="#" ) force sync incidents



	include includes/material

	script.
		$('#sendtestnotification').on('click', function () {

			console.log("trying to send mail: ");

			var content = {};

			content.from = "space@bwinparty.corp";
			content.to = "gerold.kathan@bwinparty.com";
			content.subject = "[testmail]";
			content.text="hello testmail";
			console.log("trying to send mail: "+JSON.stringify(content));

			$.ajax({
			  url: '/api/space/rest/mail',
			  type: 'POST',
			  data: {
					  mail: JSON.stringify(content)

					}
			});

		});


		$('#sync_employeeimages').on('click', function () {
			$.ajax({
			  url: '/api/space/rest/sync/employeeimages',
			  type: 'POST',
			  data: {

					}
			});
			//location.reload();
		});

		$('#sync_availability').on('click', function () {
			console.log("avreport request called...");
			$.ajax({
				url: '/api/space/rest/sync/availability',
				type: 'POST',
				data: {

					},
				success: function(data){
					alert("data: "+JSON.stringify(data));
				},
				error: function(err){
					alert("err: "+JSON.stringify(err));
				}
			});
			//location.reload();
		});
		
		$('#sync_incidents').on('click', function () {
			console.log("incidentsync request called...");
			$.ajax({
				url: '/api/space/rest/sync/incidents',
				type: 'POST',
				data: {

					},
				success: function(data){
					alert("data: "+JSON.stringify(data));
				},
				error: function(err){
					alert("err: "+JSON.stringify(err));
				}
			});
			//location.reload();
		});


		$('#switchcontext_bpty').on('click', function () {
			_switch("bpty");
		});

		$('#switchcontext_generic').on('click', function () {
			_switch("generic.example");
		});

		$('#switchcontext_studios').on('click', function () {
			_switch("bpty.studios");
		});

		$('#switchcontext_bwin').on('click', function () {
			_switch("bpty.bwin");
		});

		$('#switchcontext_kalixa').on('click', function () {
			_switch("bpty.kalixa");
		});
		
		
		$('#switchcontext_games').on('click', function () {
			_switch("bpty.labels.games");
		});
		$('#switchcontext_legal').on('click', function () {
			_switch("bpty.corp.legal");
		});
		$('#switchcontext_cs').on('click', function () {
			_switch("bpty.cs");
		});
		$('#switchcontext_comms').on('click', function () {
			_switch("bpty.corp.comms");
		});
		$('#switchcontext_finance').on('click', function () {
			_switch("bpty.corp.finance");
		});
		$('#switchcontext_hr').on('click', function () {
			_switch("bpty.corp.hr");
		});
		$('#switchcontext_regaffairs').on('click', function () {
			_switch("bpty.corp.regaffairs");
		});
		$('#switchcontext_cosec').on('click', function () {
			_switch("bpty.corp.cosec");
		});
		$('#switchcontext_facilities').on('click', function () {
			_switch("bpty.corp.facilities");
		});
		
		
		
		
		
			
		
		

		function _switch(context){
			console.log("switch context to "+context+" : ");


			$.ajax({
			  url: '/api/space/rest/switchcontext',
			  type: 'POST',
			  data: {
					  context: context
					}
			});
			
			location.reload();

		}
