include kanban_menu


block content

	div.panel(style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;;width:1100px;text-align: center;margin: 10px auto;")
		.panel-heading
			h3.panel-title CUSTOMERS
		.panel-body
		table.table.table-striped.table-hover.table-condensed
			thead
				tr
					th 
					th name
					th type
					th scope
					th status
					th description
					th contact
					th key account
			tbody
				each c in customers
					tr
					td(style="text-align:left") 
						img(src="/images/customers/#{c.name}.png"  height="25px") 
					td(style="vertical-align:top;text-align:left") #{c.name} 
					td(style="vertical-align:top;text-align:left") #{c.type} 
					td(style="vertical-align:top;text-align:left") #{c.scope} 
					td(style="vertical-align:top;text-align:left") #{c.status} 
					td(style="vertical-align:top;text-align:left") #{c.description} 
					td(style="vertical-align:top;text-align:left") #{c.contact} 
					td(style="vertical-align:top;text-align:left") #{c.keyaccounter} 


