include kanban_menu

// Load d3.js and c3.js
script(src='/javascripts/components/c3/c3.min.js')
// Load nv3d
script(src='/javascripts/components/nvd3/build/nv.d3.min.js')



block content
	div.container-fluid
		div.row(style="margin: auto;max-width:1150px")
			if l1targets.length>0
				each target in l1targets
					div.col-md-3.col-sm-4.col-xs-9.col-lg2(style="width:210px")
						.panel.panel-default(style="width:200px;margin:0px;height:340px;margin-bottom:10px")
							.panel-heading(style="text-align:center;font-weight:bold;font-size:12px") 
								if target.id=="K2"
									a(href="/dashboard/#{_.last(target.dashboardDetail.split('_'))}?period=q#{moment().quarter()}-#{moment().year()}") 
										|#{target.id} - #{target.directTarget} 
								else
									a(href="/dashboard/#{_.last(target.dashboardDetail.split('_'))}") 
										|#{target.id} - #{target.directTarget} 
							.panel-body
							div(style="font-weight:normal;font-size:12px;text-align:center")
								|target | #{target.directTime} 
							div(style="font-weight:bold;font-size:28px;text-align:center")
								|#{target.directMetric}#{target.directMetricScale} 
							if target.id=="K2"
								div(style="font-weight:normal;font-size:12px;text-align:center")
									span(id="targetIncidentAbsolut")

								
							div(id="#{target.dashboardTop}")
							div(style="font-size:12px;text-align:left;padding-left:20px")
								if target.id=="K1"
									br
									if availability
										|last update: #{moment(availability.createDate).format('YYYY-MM-DD HH:mm:ss')}
									else
										|-- no data accessible --
									br
									a(href="http://dashboard.bwin.corp/" target="_blank") :: appdynamics dashboard
								else if target.id =="K2"
									span(id="baseline")
									br
									span(id="target")
									
								else if target.id =="K3"
									a(href="" target="_blank") as per some source
								else if target.id =="K4"
								else if target.id =="K5"

//include the according external graph codes
each target in l1targets
	script(src='/javascripts/dashboards/#{target.dashboardTop}.js')
