include kanban_menu

block content
	div.row(style="margin: auto;max-width:1150px")
		div.panel.panel-default
			div.panel-heading studios - L1 targets dashboard
			div.panel-body
				
				if l1targets.length>0
					div.col-md-2.col-lg3(style="width:220px")
						.panel.panel-default(style="width:200px;margin:0px;height:300px ")
							.panel-heading(style="text-align:center;font-weight:bold") #{_.findWhere(l1targets,{id:'S1'}).id}  - #{_.findWhere(l1targets,{id:'S1'}).directTarget} 
							.panel-body
							div(style="font-weight:normal;font-size:12px;text-align:center")
								|target | #{_.findWhere(l1targets,{id:'S1'}).directTime} 
							div(style="font-weight:bold;font-size:28px;text-align:center")
								|#{_.findWhere(l1targets,{id:'S1'}).directMetric} 
							
							div(id="c3_availability_gauge")
							div(style="font-size:10px;text-align:center")
								br
								|source:
								br
								a(href="http://avreport.bwinparty.corp/avreport" target="_blank") http://avreport.bwinparty.corp/avreport
					
					div.col-md-2.col-lg3(style="width:220px")
						.panel.panel-default(style="width:200px;margin:0px;height:300px ")
							.panel-heading(style="text-align:center;font-weight:bold") S2 - incidents P1-P8
							.panel-body
							div(style="font-weight:normal;font-size:12px;text-align:center")
								|target | Q4
							div(style="font-weight:bold;font-size:28px;text-align:center")
								|-25% 
							
							div(id="c3_incident_barchart")
							div(style="font-size:12px;text-align:center")
								br
								a(href="files/firereports/firereport_#{availability.year}-week-#{availability.week}.pdf" target="_blank") as per firereport week-#{availability.week}-#{availability.year}

					div.col-md-2.col-lg3(style="width:220px")
						.panel.panel-default(style="width:200px;margin:0px;height:300px ")
							.panel-heading(style="text-align:center;font-weight:bold") S3 - mobile share 
							.panel-body
							div(style="font-weight:normal;font-size:12px;text-align:center")
								|target | Q4
							div(style="font-weight:bold;font-size:28px;text-align:center")
								|50% 
							
							div(id="c3_mobile_spline")
							div(style="font-size:12px;text-align:center")
								br
								a(href="" target="_blank") as per some source

					div.col-md-2.col-lg3(style="width:220px")
						.panel.panel-default(style="width:200px;margin:0px;height:300px ")
							.panel-heading(style="text-align:center;font-weight:bold") S4 - roadmap delivery
							.panel-body
							div(style="font-weight:normal;font-size:12px;text-align:center")
								|target | YoY
							div(style="font-weight:bold;font-size:28px;text-align:center")
								|100% 
							
							div(id="c3_incident_chart")
							div(style="font-size:12px;text-align:center")
								br
								a(href="" target="_blank") as per some source

					div.col-md-2.col-lg3(style="width:220px")
						.panel.panel-default(style="width:200px;margin:0px;height:300px ")
							.panel-heading(style="text-align:center;font-weight:bold") S5 - contracted B2B rev 
							.panel-body
							div(style="font-weight:normal;font-size:12px;text-align:center")
								|target | YoY
							div(style="font-weight:bold;font-size:28px;text-align:center")
								|10 mEur 
							
							div(id="c3_incident_chart")
							div(style="font-size:12px;text-align:center")
								br
								a(href="" target="_blank") as per some source

			
		div.panel.panel-default
			div.panel-heading ...dashboard
			div.panel-body
				div.col-md-3.col-lg4
					.panel.panel-default(style="width:250px;margin:0px;height:300px ")
						.panel-heading(style="font-weight:bold") kpi-5
						.panel-body
							h3 some big numbers
							h2(style="font-size:80px") 100%
				div.col-md-3.col-lg4
					.panel.panel-default(style="width:250px;margin:0px;height:300px ")
						.panel-heading(style="font-weight:bold") kpi-6
						.panel-body
							h3 some big numbers
							h2(style="font-size:80px") 100%
				div.col-md-3.col-lg4
					.panel.panel-default(style="width:250px;margin:0px;height:300px ")
						.panel-heading(style="font-weight:bold") kpi-7
						.panel-body
							h3 some big numbers
							h2(style="font-size:80px") 100%

				div.col-md-3.col-lg4
					.panel.panel-default(style="width:250px;margin:0px;height:300px ")
						.panel-heading(style="font-weight:bold") kpi-8
						.panel-body
							h3 some big numbers
							h2(style="font-size:80px") 100%
					
		
		div.panel.panel-default
			div.panel-heading ...dashboard
			div.panel-body
				div.col-md-3.col-lg4
					.panel.panel-default(style="width:250px;margin:0px ")
						.panel-heading(style="font-weight:bold") kpi-9
						.panel-body
							h3 some big numbers
							h2(style="font-size:80px") 100%
				div.col-md-3.col-lg4
					.panel.panel-default(style="width:250px;margin:0px ")
						.panel-heading(style="font-weight:bold") kpi-10
						.panel-body
							h3 some big numbers
							h2(style="font-size:80px") 100%
				div.col-md-3.col-lg4
					.panel.panel-default(style="width:250px;margin:0px ")
						.panel-heading(style="font-weight:bold") kpi-11
						.panel-body
							h3 some big numbers
							h2(style="font-size:80px") 100%

				div.col-md-3.col-lg4
					.panel.panel-default(style="width:250px;margin:0px ")
						.panel-heading(style="font-weight:bold") kpi-12
						.panel-body
							h3 some big numbers
							h2(style="font-size:80px") 100%
					
		
script(src='/javascripts/c3/availability_gauge.js')
script(src='/javascripts/c3/incident_barchart.js')
script(src='/javascripts/c3/mobile_spline.js')
