include kanban_menu

// Load d3.js and c3.js
script(src='/javascripts/components/c3/c3.min.js')
// Load nv3d
script(src='/javascripts/components/nvd3/build/nv.d3.min.js')

style.
	#c3_mobile_spline .c3-circles-Target {
		display: none;
	}
	#c3_mobile_spline .c3-line-Target {
		stroke-width: 1.2px;
	}
	
block content
	div.container-fluid
	
		div(style="margin:auto;max-width:1400px;text-align:center") 
				h3 STUDIOS 2015 KPI TRACKER 
				br
		
		div.row(style="margin: auto;max-width:1150px")
			if l1targets.length>0
				each target in l1targets
					div.col-md-3.col-sm-4.col-xs-9.col-lg2(style="width:210px")
						.panel.panel-default(style="width:200px;margin:0px;height:340px;margin-bottom:10px")
							.panel-heading(style="text-align:center;font-weight:bold;font-size:12px") 
								if target.id=="K2" && session.AUTH
									a(href="/dashboard/#{_.last(target.dashboardDetail.split('_'))}?period=q#{moment().quarter()}-#{moment().year()}") 
										|#{target.id} - #{target.directTarget} 
								else if session.AUTH
									a(href="/dashboard/#{_.last(target.dashboardDetail.split('_'))}") 
										|#{target.id} - #{target.directTarget} 
								else 
									|#{target.id} - #{target.directTarget} 
							.panel-body
							div(style="font-weight:normal;font-size:12px;text-align:center")
								|target | #{target.directTime} 
							div(style="font-weight:bold;font-size:28px;text-align:center")
								|#{target.directMetric}#{target.directMetricScale} 
							if target.id=="K2"
								div(style="font-weight:normal;font-size:12px;text-align:center")
									span(id="targetIncidentAbsolut")

								
							div(id="#{target.dashboardTop}")
							div(style="font-size:12px;text-align:left;padding-left:20px")
								if target.id=="K1"
									if availability
										span(style="font-size:9px;text-align:center;margin-left:25px") unplanned downtime in hours
										table()
											tr(style="font-size:9px;text-align:center;line-height:9px")
												td target
												td spent
												td left
											tr(style="font-size:12px")
												td(style="padding:5px")
													span(id="targetdowntime")
												td(style="padding:5px")
													span(id="spentdowntime")
												td(style="padding:5px;font-weight:bold")
													span(id="leftdowntime")
											tr
												td(colspan="3" style="text-align:center;font-size:8px")
													|happy-path with no further downtime: 
											tr
												td(colspan="3" style="text-align:center;font-size:12px;font-weight:bold")
													span(id="trendAV") 
											tr
												td(colspan="3" style="text-align:center;font-size:8px;color:grey")
													br
													|last update: #{moment(availability.createDate).format('YYYY-MM-DD HH:mm:ss ZZ')}
									else
										span(style="font-size:8px;text-align:center") -- no data accessible --
									
									
								else if target.id =="K2"
									table.table.table-striped.table-hover.table-condensed(style="width:100px")
										thead
											tr
												th(style="min-width:50px")
													&nbsp;
												th(style="text-align:right;min-width:30px") 
													img(src="/images/incidents/P01.png" width="22px")
												th(style="text-align:right;min-width:30px") 
													img(src="/images/incidents/P08.png" width="22px")
												//th(style="text-align:right;min-width:30px") 
												//	img(src="/images/incidents/P16.png" width="22px")
										tbody
											tr
												td(id="k2_baseline" style="font-size:10px") 
												td(id="k2_baseline_p01" style="text-align:right") 
												td(id="k2_baseline_p08" style="text-align:right") 
										
											tr
												td(id="k2_target" style="font-size:10px") 
												td(id="k2_target_p01" style="text-align:right") 
												td(id="k2_target_p08" style="text-align:right") 
											tr
												td(id="k2_current" style="font-size:10px;font-weight:bold") 
												td(id="k2_current_p01" style="text-align:right;font-weight:bold") 
												td(id="k2_current_p08" style="text-align:right;font-weight:bold") 
											tr
												td(id="k2_left" style="font-size:9px") 
												td(id="k2_left_p01" style="text-align:right;font-size:9px") 
												td(id="k2_left_p08" style="text-align:right;font-size:9px") 
											tr
												td(id="k2_trend" style="font-size:9px") 
												td(id="k2_trend_p01" style="text-align:right;font-size:9px") 
												td(id="k2_trend_p08" style="text-align:right;font-size:9px") 

									div(style="text-align:center;font-size:8px;color:grey")
										if lastSyncIncidents
											br
											|last update: #{moment(lastSyncIncidents.lastSync).format('YYYY-MM-DD HH:mm:ss ZZ')}
									
								else if target.id =="K3"
									div(style="text-align:center;font-size:8px;color:grey")
										|last update: #{moment(lastSyncMobileShare).format('YYYY-MM-DD')}
								else if target.id =="K4"
									div(style="text-align:center;font-size:8px;color:grey")
										|last update: #{moment(lastSyncReturnOnRoadmap).format('YYYY-MM-DD')}
								else if target.id =="K5"
									br(style="font-size:5px")
									img(src="/images/targets/KPI5_tracker.png" height="140px" style="margin-left:20px")
									div(style="text-align:center;font-size:8px;color:grey")
										br
										br
										br
										
										|last update: #{moment(lastSyncB2B).format('YYYY-MM-DD')}
		
	
		
		
//include the according external graph codes
each target in l1targets
	script(src='/javascripts/dashboards/#{target.dashboardTop}.js')
