extends layout

block content
	div.container-fluid(id="spacemenu")
		div.row(style="margin-left:10px;margin-bottom:10px;margin-top:10px")
			if session.CONTEXT
				img(src='/images/#{session.CONTEXT}_logo.png'  height='30px')
				span(style="font-size:10px;margin-left:20px;color:grey")  context: <b> #{session.CONTEXT}</b> 
			else
				img(src='/images/#{config.context}_logo.png'  height='30px')

			if session.AUTH
				span(style="font-size:10px;margin-left:20px;color:grey")  logged in as: <b> #{session.AUTH}/#{session.USER} </b>
			// span(id="space_syncerstatus" style="font-size:9px;font-weight:bold;margin-left:3px;color:grey")
				
			.div(class='notifications top-left')

		div.navbar.navbar-default
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				if !session.AUTH
					a.navbar-brand(href='/')
						img(src="/images/space_long_white.png" height="30px")
				else if (session.AUTH=="admin" || session.AUTH=="exec" || session.AUTH=="studios")
					a.navbar-brand(href='/dashboard')
						img(src="/images/space_long_white.png" height="30px")
				else 
					a.navbar-brand
						img(src="/images/space_long_white.png" height="30px")
						
			.collapse.navbar-collapse
				ul.nav.navbar-nav
					if !session.AUTH
						li
							a(href='/login') login
						li
							a(role="menuitem" tabindex="-1" href="/itservicereports") IT service reports
					if session.AUTH
						li.active
							a(href='/logout') logout
					if !session.AUTH || session.AUTH=="admin"
						li
							a(href="/portfolio") portfolio
					if !session.AUTH 
						li
							a( href="/targets/overview") targets overview
					
					if session.AUTH=="studios"
						ul.nav.navbar-nav
							li.dropdown(id="fat-menu")
								a.dropdown-toggle(id="targets" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false") [portfolio meeting]
									span.caret
								ul.dropdown-menu(role="menu" aria-labelledby="admin")
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/portfolio") show list
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/upload/xlsx/portfolio") upload snapshot
								
						
					if session.AUTH=="exec" || session.AUTH=="admin" || session.AUTH=="studios"
						ul.nav.navbar-nav
							li.dropdown(id="fat-menu")
								a.dropdown-toggle(id="targets" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false") environment
									span.caret
								ul.dropdown-menu(role="menu" aria-labelledby="admin")
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/customers") customers
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/competitors") competitors
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/labels") labels
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/itservicereports") IT service reports
									li
										a(href='/playbooks') playbooks
									li
										a(href='/incidentmatrix') incident matrix
						ul.nav.navbar-nav
							li.dropdown(id="fat-menu")
								a.dropdown-toggle(id="targets" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false") incidents
									span.caret
								ul.dropdown-menu(role="menu" aria-labelledby="admin")
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/dashboard/incidents") incidents
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/dashboard/incidents_subdimension?subDimension=label") incidents - split by label
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/dashboard/incidents_subdimension?subDimension=businessService") incidents - split by business service
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/dashboard/incidents_subdimension?subDimension=assignmentGroup") incidents - split by assignment group
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/dashboard/incidents_activeticker") incidents - activeticker
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/dashboard/incidents_line") incidents - line chart experiment

						ul.nav.navbar-nav
							li.dropdown(id="fat-menu")
								a.dropdown-toggle(id="targets" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false") targets
									span.caret
								ul.dropdown-menu(role="menu" aria-labelledby="admin")
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/targets/overview/2015") targets-2015 overview
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/targets/overview/2016") targets-2016 draft
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/targets/rollup") targets corporate rollup
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/targets/employee2targetall/2015?showEmployeeTree=organization") employee2target-2015 ALL
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/targets/employeeoutcomes/2015/E2988") employee outcomes (example cactus)
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/targets/target2outcomes/2015/R1.1") target2outcomes (example R1.1)
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/targets/sunburst") targets sunburst
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/organization/circlecontain/targets") targets circle contain map
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/organization/partition/targets") targets partition
					if session.AUTH=="admin" 
						ul.nav.navbar-nav
							li.dropdown(id="fat-menu")
								a.dropdown-toggle(id="admin" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false") boards
									span.caret
								ul.dropdown-menu(role="menu" aria-labelledby="admin")
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/boards") timeline boards
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/pinboards") create new pin board
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/pinboards/studios2015") studios 2015 achievements
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/pinboards/spacebacklog") space backlog
										

									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/dashboard/corpIT") corpIT dashboard (prototype)
						ul.nav.navbar-nav
							li.dropdown(id="fat-menu")
								a.dropdown-toggle(id="admin" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false") products & services
									span.caret
								ul.dropdown-menu(role="menu" aria-labelledby="admin")
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/organization/circlecontain/productportfolio") product portfolio (pka)
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/organization/circlecontain/productcatalog") product & service catalog (stg)
					if session.AUTH=="exec" || session.AUTH=="admin" 
						ul.nav.navbar-nav
							li.dropdown(id="fat-menu")
								a.dropdown-toggle(id="org" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false") organization
									span.caret
								ul.dropdown-menu(role="menu" aria-labelledby="org")
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/organization/tree") tree
									each _date in organizationhistoryDates
										li(role="presentation")
											a(role="menuitem" tabindex="-1" href="/organization/history/tree/#{_date.oDate}") tree [#{_date.oDate}]
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/organization/trend") trend
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/organization/tree_vertical") vertical tree (experimental)
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/organization/partition") partition

									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/organization/radial") radial
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/organization/circlecontain") circle contain
									each _date in organizationhistoryDates
										li(role="presentation")
											a(role="menuitem" tabindex="-1" href="/organization/history/circlecontain/#{_date.oDate}") circlecontain [#{_date.oDate}]	
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/organization/history/force") force map experiments
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/organization/scrumteams") scrum teams (old)
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/organization/v1teams") teams (v1 teamroom export)
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/organization/facebook") facebook
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/organization/simple") simple
					if session.AUTH=="exec" || session.AUTH=="admin" || session.AUTH=="studios"
						ul.nav.navbar-nav
							li.dropdown(id="fat-menu")
								a.dropdown-toggle(id="import" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false") reports
									span.caret
								ul.dropdown-menu(role="menu" aria-labelledby="reports")
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/upload/itservicereport") upload IT service report pdf
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/itservicereports") IT service report list
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/dashboard/itservicereport") IT service report online prototype
					if session.AUTH=="admin"
						ul.nav.navbar-nav
							li.dropdown(id="fat-menu")
								a.dropdown-toggle(id="import" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false") xlsx import
									span.caret
								ul.dropdown-menu(role="menu" aria-labelledby="import")
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/upload/xlsx/portfolio") portfolio gate
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/upload/xlsx/pi") PI HR assignment
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/upload/xlsx/target2employee") target2employee
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/upload/xlsx/plain") plain **you should know what you do !
						ul.nav.navbar-nav
							li.dropdown(id="fat-menu")
								a.dropdown-toggle(id="admin" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false") admin
									span.caret
								ul.dropdown-menu(role="menu" aria-labelledby="admin")
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=initiatives") initiatives
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=metrics") metrics
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=boards") boards
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=targets&period=2015") targets - 2015
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=targets&period=2016") targets - 2016
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=v1epics&setfilter=portfolioApproval^Yes,categoryName^Initiative") v1 epics (portfolioApproved + Initiative)
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=roadmapinitiatives") roadmap initiatives

									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=v1teams") v1 teams
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=scrumteams") scrum teams
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=labels") labels
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=domains") domains
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=customers") customers
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=competitors") competitors
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=organization&setfilter=Function^Studios") organization (bpty.studios)
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=productcatalog") product catalog
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=roadmaps") roadmaps
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=availability") availability
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=itservicereport") IT service reports
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=content") content
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=incidenttracker") incident tracker
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=incidents&setfilter=priority^P01") snow.incidents (P01 filtered)
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=incidentsoldsnow&setfilter=priority^P01") snow.OLD (P01 filtered)
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=problems") snow.problems
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=soc_outages") SOC outages
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=soc_services") SOC services
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin?type=socincident2revenueimpact") SOC incident - revenue impact 
									li
										a(href='/api') API
									li
										a(href='/admin/traffic') admin | traffic
									li
										a(href='/admin/content') admin | content
									li
										a(href='/admin/message') admin | emit message
									li
										a(href='/admin/sync')  admin | sync
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin/config") admin | config
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="/admin/changelog") admin | changelog

	include includes/material

	script.
		initSockets()
		
		function initSockets(){
			// connect to the socket server
			
			var socket = io.connect(); 
			// if we get an "info" emit from the socket server then console.log the data we recive
			socket.on('space.message', function (data) {
				console.log("-------- got space.message ........");
				_socketConnect=true;
				if (data.msg){
					if (!data.msg.type) data.msg.type="info";
					console.log("message: "+JSON.stringify(data.msg));
					$(function(){
						PNotify.desktop.permission();
						new PNotify({
							title: data.msg.title,
							text: data.msg.body,
							type: data.msg.type,
							desktop: data.msg.desktop,
							shadow: true,
							history: data.msg.history
						});
					});
				}
				else{
					console.log("s p a c e socket listener says: ---------- got non-space compatible message.....");
				}
			});
		}
