doctype html
html(lang='en')
	block vars
	head
		title= title
		meta( charset='utf-8' )
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='strategy performance and change explorer')
		meta(name='author', content='cactus')
		
		include imports
		
	body
		block content
	
	script.
		if (isIE()) window.location.href='/chromeonly';
		function isIE(userAgent) {	  userAgent = userAgent || navigator.userAgent;
			return userAgent.indexOf("MSIE ") > -1 || userAgent.indexOf("Trident/") > -1;
		}

	footer.footer
		div(style="font-size:8px;color:grey;text-align:center;")
			| s p a c e  
			| :: version: <b>#{config.version}</b> :: build: <b>#{config.build}</b> :: env: <b>#{config.env}</b>
			span(style="font-size:8px;color:grey;") ::  s p a c e.syncer: 
			if heartbeat.spacesyncer.status =="ERROR"
				span(style="font-size:8px;color:red;font-weight:bold")  - OFFLINE - 
				span(style="font-size:8px;color:grey;") [ #{heartbeat.spacesyncer.message}]
			else if heartbeat.spacesyncer.status =="OK"
				span(style="font-size:8px;color:green;font-weight:bold")  - ONLINE - 

			br
			| :: 
			a(href="/pinboards/backlog") backlog kanban board ::
			| :: 
			a(href="/changelog") changelog ::
