doctype html
html(lang='en')
	head
		title= title
		meta( charset='utf-8' )
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='strategy2tactics stuff')
		meta(name='author', content='cactus')
		
		include imports
		
	body
		block content
	
	
	script.
		if (isIE()) window.location.href='/chromeonly';
		function isIE(userAgent) {	  userAgent = userAgent || navigator.userAgent;
			return userAgent.indexOf("MSIE ") > -1 || userAgent.indexOf("Trident/") > -1;
		}

	footer.footer
		
		p.text-muted(style="font-size:8px;color:grey;margin-left:20px")
			| strategy2tactics: 
			| version: #{config.version} :: build: #{config.build} :: env: #{config.env} :: transcoder: #{config.transcoder.url} :: mailer: #{config.mailer.host} :: v1.SyncEpics: #{config.v1.syncEpics.mode}, every #{config.v1.syncEpics.intervalMinutes} minutes from #{config.v1.syncEpics.url}  

