doctype html
html(lang='en')
	head
		title= title
		meta( charset='utf-8' )
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='strategy performance and change explorer')
		meta(name='author', content='cactus')
		
		include imports
		
	body
		block content
	
	
	script.
		if (isIE()) window.location.href='/chromeonly';
		function isIE(userAgent) {	  userAgent = userAgent || navigator.userAgent;
			return userAgent.indexOf("MSIE ") > -1 || userAgent.indexOf("Trident/") > -1;
		}

	footer.footer
		div(style="font-size:8px;color:grey;text-align:center")
			| s p a c e  
			| :: version: <b>#{config.version}</b> :: build: <b>#{config.build}</b> :: env: <b>#{config.env}</b> :: transcoder: #{config.transcoder.url} :: mailer: #{config.mailer.host} :: v1.SyncEpics: #{config.sync.v1Epics.mode}, every #{config.sync.v1Epics.intervalMinutes} minutes from #{config.sync.v1Epics.url}  
			br
			| :: 
			a(href="http://scrumblr.space.bwinparty.corp/spacebacklog" target="_blank") backlog kanban board ::
