include kanban_menu

link(rel='stylesheet', href='/stylesheets/portfoliogate.css')

script(src="/javascripts/components/moment/min/moment.min.js")

-	function mapHealth2Color(health){
-		// there is no amber css color ;-)
-		if (health=="Amber") return "gold";
-		if (!health) return "lightgrey"
-		// red and green are ok
-		return health;
-	}

style(type='text/css').
	.badge 
	{ 
		font-size: 8px;
		font-weight: normal;
		white-space: nowrap;
		color: white;
		background-color: #black !important;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 20px;
		position: relative;
		top: -15px;
		right: 0px;
	}
	.badge.badge-low
		{ 
			top: 0px;
			font-weight: bold;
			right:5px;
			font-size: 18px;
		}

// ------------------ mixin start ----------------------------

mixin renderEpic(epic)
	div.col 
		tr
			if epic.id
				td(style="width:15px;vertical-align:middle")
					if epic.Status != "Monitoring"
						span(style="background-color:#{mapHealth2Color(epic.Health)}")
							| &nbsp;&nbsp;&nbsp;&nbsp;   
				td(style="font-weight:normal;font-size:8px;width:35px;height:14px;vertical-align:middle")
					| #{epic.EpicRef} 
				td(style="font-weight:bold;font-size:9px;width:180px;vertical-align:middle;white-space:nowrap")
					a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+epic.id target="_new" data-toggle="tooltip" data-placement="top" title="health comment: #{epic.HealthComment}" )
						| <b>#{epic.name}</b> 
				td(style="font-weight:normal;font-size:8px;width:35px;height:14px;vertical-align:middle;text-align:left")
					&nbsp;&nbsp;
					if epic.attachmentProposal
						a(href="http://v1.bwinparty.corp/V1-Production/attachment.img/"+epic.attachmentProposal.oid+"/" target="_new" data-toggle="tooltip" data-placement="top" title="download #{epic.attachmentProposal.type} for #{epic.name}")
							| [IP] 
					if epic.attachmentClosing
						a(href="http://v1.bwinparty.corp/V1-Production/attachment.img/"+epic.attachmentClosing.oid+"/" target="_new" data-toggle="tooltip" data-placement="top" title="download #{epic.attachmentClosing.type} for #{epic.name}" )
							| [CD] 
							
				td(style="width:15px;vertical-align:middle;text-align:center")
					if epic.oldState
						span.glyphicon.glyphicon-star(style="font-size:12px;color:black; ") 
						span(style="opacity:0") x
						//span(style="color:orange; font-size:10px") #{epic.oldState}
				
			else
				td(style="width:15px;vertical-align:middle") 
				td(style="font-weight:normal;font-size:8px;width:250px;height:14px;vertical-align:middle")
					span  #{epic.EpicRef} * not synced
				
// ------------------ mixin end ----------------------------

block content
	span(style="color:#999999;font-size:8px") #{pgates.length} [portfolio board] snapshots online | last v1.epics sync #{v1LastUpdate}
	div.container-fluid
		each _date in pgates
			div.panel(style="max-width:1400px")
				div.panel-heading(style="font-size:16px; color:black") 
					| PORTFOLIO BOARD SNAPSHOT 
					br
					span(style="font-size:28px;font-weight:bold") #{_date.pBoardDate}
					ul.list-unstyled

					if _date.stateChangeBucket.length == 0 && _date.healthChangeBucket.length == 0
						span(style="font-size:11px;font-weight:normal;color:black;text-align:center") <b>NO CHANGES</b>: 
					else
						span(style="font-size:11px;font-weight:normal;color:black;text-align:center") <b>CHANGES</b>:
					br


					if _date.stateChangeBucket.length > 0
						span(style="font-size:11px;font-weight:normal;color:black;text-align:center") STATUS:
						br
						table(style="width:600px")
							// state changes
							each _change in _date.stateChangeBucket
								if _change.Status !="New"
									tr
										td(style="width:180px;font-size:10px;vertical-align:middle;height:14px")
											span.glyphicon.glyphicon-star(style="font-size:10px;color:black;")
											<b>#{_change.oldState}</b> 
											span.glyphicon.glyphicon-arrow-right 
											|  <b>#{_change.Status}</b>   
										td(style="width:420px;font-size:10px;vertical-align:middle;height:14px")
											a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+_change.id target="_new" )
												| <span style="font-size:9px">#{_change.EpicRef}</span>  <b>#{_change.name}</b>  
				
					// health changes
					if _date.healthChangeBucket.length > 0
						span(style="font-size:11px;font-weight:normal;color:black;text-align:center") HEALTH:
						each _change in _date.healthChangeBucket
							li.list-unstyled(style="font-size:10px;color:black") 
								
								
								span(style="background-color:#{mapHealth2Color(_change.oldHealth)}")
									| &nbsp;&nbsp;&nbsp;   
								|&nbsp;
								span.glyphicon.glyphicon-arrow-right 
								
								span(style="background-color:#{mapHealth2Color(_change.Health)}")
									| &nbsp;&nbsp;&nbsp;   
								| &nbsp;
								a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+_change.id target="_new" )
									| #{_change.EpicRef} <b>#{_change.name}</b>  
					
					
					
				div.panel-body
					each status in _date.pItems
						// no NEW items for now
						if status[0].Status != "New"
							div.col-sm-2.col-md-3.col-lg5
								div.panel(style="background-color:white;width:330px;text-align: left")
									//status header
									div.panel-heading(style="text-align:center")
										span(style="font-size:20px;color:#{colors[status[0].Status]};margin-left:0px") #{status[0].Status.toUpperCase()}
										span.badge #{status.length}
										
									//list epics per status	
									div.panel-body
										div.row(style="font-size:11px;margin-left:2px")
											table.table-hover.tablsesorter(id="table_#{_date._id}_#{status[0].Status}")
												thead
													tr(style="height:15px")
														th(style="width:25px;text-align:left;font-size:8px;vertical-align:top") 
															a(href="#" title="sort by health" ) 
																
																//span.glyphicon.glyphicon-triangle-bottom(style="font-size:8px;color:black;")
														th(style="width:35px;text-align:left;font-size:8px;vertical-align:top") 
															a(href="#" title="sort by id") 
																
																//span.glyphicon.glyphicon-triangle-bottom(style="font-size:8px;color:black;")
														th(style="width:180px;text-align:left;font-size:8px;vertical-align:top")
															a(href="#" title="sort by name") 
																
																//span.glyphicon.glyphicon-triangle-bottom(style="font-size:8px;color:black;")
														th(style="width:35px;text-align:left;font-size:8px;vertical-align:top")
															a(href="#" title="sort by ref" )
																
														th(style="width:30px;text-align:left;font-size:8px;vertical-align:top") 
															a(href="#" title="sort by changed from last time")
																
																//span.glyphicon.glyphicon-triangle-bottom(style="font-size:8px;color:black;")
												tbody
													each epic in status
														+renderEpic(epic)
											script $("#table_#{_date._id}_#{status[0].Status}").tablesorter();

	script.
		$(function () {
			//$('[data-toggle="tooltip"]').tooltip({html:true})
		})
		
		
		
		
