include kanban_menu

link(rel='stylesheet', href='/stylesheets/portfoliogate.css')

script(src="/javascripts/components/moment/min/moment.min.js")

-	function mapHealth2Color(health){
-		// there is no amber css color ;-)
-		if (health=="Amber") return "gold";
-		if (health=="Green") return "limegreen";
-		if (!health) return "lightgrey"
-		// red and green are ok
-		return health;
-	}

style(type='text/css').
	.badge 
	{ 
		font-size: 8px;
		font-weight: normal;
		white-space: nowrap;
		color: white;
		background-color: #black !important;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 20px;
		position: relative;
		top: -15px;
		right: 0px;
	}
	.badge.badge-low
		{ 
			top: 0px;
			font-weight: bold;
			right:5px;
			font-size: 18px;
		}

// ------------------ mixin start ----------------------------

mixin renderEpic(epic)
	div.col 
		if epic.id
			tr(id="#{epic.EpicRef}")
				td(style="max-width:15px;vertical-align:middle")
					if epic.Status != "Monitoring"
						div(style="margin-left:5px;width: 10px;height: 10px;-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;background-color:#{mapHealth2Color(epic.Health)};margin-top:2px")
				td(style="font-weight:normal;font-size:8px;max-width:50px;height:14px;vertical-align:middle")
					| #{epic.EpicRef} 
				td(style="font-weight:bold;font-size:9px;max-width:180px;vertical-align:middle;white-space:nowrap;overflow:hidden;text-overflow:ellipsis")
					a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+epic.id target="_new" data-toggle="tooltip" data-placement="top" title="strategicThemes: "+JSON.stringify(epic.strategicThemes))
						| <b>#{epic.name}</b> 
				td(style="font-weight:normal;font-size:8px;max-width:35px;height:14px;vertical-align:middle;text-align:left")
					&nbsp;&nbsp;
					if epic.attachmentProposal
						a(href="http://v1.bwinparty.corp/V1-Production/attachment.img/"+epic.attachmentProposal.oid+"/" target="_new" data-toggle="tooltip" data-placement="top" title="download #{epic.attachmentProposal.type} for #{epic.name}")
							| [IP] 
					if epic.attachmentClosing
						a(href="http://v1.bwinparty.corp/V1-Production/attachment.img/"+epic.attachmentClosing.oid+"/" target="_new" data-toggle="tooltip" data-placement="top" title="download #{epic.attachmentClosing.type} for #{epic.name}" )
							| [CD] 
							
				td(style="max-width:15px;vertical-align:middle;text-align:center")
					if epic.oldState && epic.PB
						span.glyphicon.glyphicon-star(style="font-size:12px;color:black; ") 
						span(style="opacity:0") x
						//span(style="color:orange; font-size:10px") #{epic.oldState}
			
		else
			tr(id="#{epic.EpicRef}")
				td(style="width:15px;vertical-align:middle") 
					div(style="margin-left:5px;width: 10px;height: 10px;-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;background-color:lightgrey;margin-top:2px")
				td(style="font-weight:normal;font-size:8px;width:35px;height:14px;vertical-align:middle")
					span  #{epic.EpicRef} 
				td(style="font-weight:normal;font-size:8px;color:grey;width:180px;vertical-align:middle;white-space:nowrap")
					|* not synced | not an initiative *
				
// ------------------ mixin end ----------------------------

block content
	div.container-fluid
		span(style="color:#999999;font-size:8px") #{pgates.length} [portfolio meeting] snapshots online | last v1.epics sync #{v1LastUpdate}
		each _date in pgates
			div.panel(style="max-width:1400px")
				div.panel-heading(style="font-size:16px; color:black") 
					span(style="margin-left:7px;font-size:28px;font-weight:bold") #{_date.pDate}
					br
					if _date.portfolioBoardBucket.length > 0
						span(style="margin-left:7px;font-size:11px;font-weight:normal;color:black;text-align:center") PORTFOLIO MEETING | <b>GATE DECISIONS</b>
						br
						table.table(style="max-width:600px")
							// state changes
							thead
								tr
									th(style="width:50px;font-size:10px;vertical-align:top") Epic ID
									th(style="max-width:100px;font-size:10px;vertical-align:top") Epic Name
									th(style="max-width:60px;font-size:10px;vertical-align:top") Decision
									th(style="max-width:150px;font-size:10px;vertical-align:top") Comment
									
							tbody
								each _pb in _date.portfolioBoardBucket
									tr(style="line-height:12px")
										td(style="font-size:10px;vertical-align:top")
											a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+_pb.id target="_new" )
												| <span style="font-size:9px">#{_pb.EpicRef}</span>
										
										td(style="font-size:10px;vertical-align:top")
											a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+_pb.id target="_new" )
												| <span style="font-size:9px"><b>#{_pb.name}</b>  
										td(style="font-size:10px;vertical-align:top")
											if _pb.PB==1
												span(style="color:limegreen;font-weight:bold") APPROVED  
											else if _pb.PB==0
												span(style="color:red;font-weight:bold") REJECTED   	
										td(style="font-size:10px;vertical-align:top")
											if _.findWhere(_date.stateChangeBucket,{"EpicRef":_pb.EpicRef}) && (_.findWhere(_date.stateChangeBucket,{"EpicRef":_pb.EpicRef}).oldState != _.findWhere(_date.stateChangeBucket,{"EpicRef":_pb.EpicRef}).Status) 
												span(style="font-style:italic") #{_.findWhere(_date.stateChangeBucket,{"EpicRef":_pb.EpicRef}).oldState}&nbsp; 
												span.glyphicon.glyphicon-arrow-right 
												span(style="font-style:italic") &nbsp;#{_.findWhere(_date.stateChangeBucket,{"EpicRef":_pb.EpicRef}).Status}
											else if _.findWhere(_date.stateChangeBucket,{"EpicRef":_pb.EpicRef})
												span(style="font-style:italic") Remains in #{_.findWhere(_date.stateChangeBucket,{"EpicRef":_pb.EpicRef}).oldState}&nbsp; 
											if (_pb.Comment)
												br
												|  #{_pb.Comment}
				div.panel-body
					each status in states
						if status != "New" && status != "Done" 
							div.col-sm-2.col-md-3.col-lg5
								div.panel(style="background-color:white;width:330px;text-align: left")
									//status header
									div.panel-heading(style="text-align:center")
										span(style="font-size:20px;color:#{colors[status]};margin-left:0px") #{status.toUpperCase()}
										-var _state = _date.pItems[status];
										if _state
											span.badge(style="margin-left:10px;font-size:14px") #{_state.length}
									//list epics per status	
									div.panel-body
										if _state
											div.row(style="font-size:11px;margin-left:2px")
												table.table-hover.tablsesorter(id="table_#{_date._id}_#{status}")
													thead
														tr(style="height:15px")
															th(style="width:25px;text-align:left;font-size:8px;vertical-align:top") 
																a(href="#" title="sort by health" ) 
																	//span.glyphicon.glyphicon-triangle-bottom(style="font-size:8px;color:black;")
															th(style="width:35px;text-align:left;font-size:8px;vertical-align:top") 
																a(href="#" title="sort by id") 
																	//span.glyphicon.glyphicon-triangle-bottom(style="font-size:8px;color:black;")
															th(style="width:180px;text-align:left;font-size:8px;vertical-align:top")
																a(href="#" title="sort by name") 
																	//span.glyphicon.glyphicon-triangle-bottom(style="font-size:8px;color:black;")
															th(style="width:35px;text-align:left;font-size:8px;vertical-align:top")
																a(href="#" title="sort by ref" )
															th(style="width:30px;text-align:left;font-size:8px;vertical-align:top") 
																a(href="#" title="sort by changed from last time")
																	//span.glyphicon.glyphicon-triangle-bottom(style="font-size:8px;color:black;")
													tbody
														each epic in _state
															+renderEpic(epic)
														
											script $("#table_#{_date._id}_#{status}").tablesorter();
										hr
										div(style="font-size:10px;padding-bottom:10px;margin-left:10px") target contribution:
										div(style="margin-left:25px")
											table.table-hover.tablsesorter
												if _date.targetContributionBucket[status]
													each target in _.keys(_date.targetContributionBucket[status])
														tr
															td(style="font-size:9px;margin-left:10px;font-weight:normal;padding-right:10px") 
																-var _epicRefs = _date.targetContributionBucket[status][target].epics.join(",#");
																
																a(title="#{_epicRefs}" onMouseOver="$('##{_epicRefs}').css('background', 'skyblue')" onMouseOut="$('##{_epicRefs}').css('background', '')") #{target} 
															td(style="font-size:9px;margin-left:10px;font-weight:bold;text-align:right") #{_date.targetContributionBucket[status][target].count}
										hr		

	script.
		$(function () {
			//$('[data-toggle="tooltip"]').tooltip({html:true})
		})
		
		
		
		
