include kanban_menu

// bpty primary
- var color1 = "rgb(50,57,99)";

// bpty secondary
- var color2 = "rgb(0,184,228)";

// bpty orange
- var color3 = "rgb(249,157,28)";

// bpty pink
- var color4 = "rgb(176,172,213)";

//bpty green
- var color5 = "rgb(130,206,193)";

//bpty yellow
- var color6 = "rgb(255,203,5)";

- var color_run = color2;
- var color_grow = color5;
- var color_transform = color3;



style.
	.panel-heading-run {background-color: #{color_run}!important}
	.panel-heading-grow {background-color: #{color_grow}!important}
	.panel-heading-transform {background-color: #{color_transform}!important}


	.panel-body-lane {background-color: #f9f9f9!important}
	
	.text-heading-run {color: #{color_run}!important}
	.text-heading-grow {color: #{color_grow}!important}
	.text-heading-transform {color: #{color_transform}!important}
	
	
	.panel-run {border-left: solid 10px #{color_run}!important;}
	.panel-grow {border-left: solid 10px #{color_grow}!important;}
	.panel-transform {border-left: solid 10px #{color_transform}!important;}
	
	.panel-lane-heading-run {border-top: solid 10px #{color_run}!important;}
	.panel-lane-heading-grow {border-top: solid 10px #{color_grow}!important;}
	.panel-lane-heading-transform {border-top: solid 10px #{color_transform}!important;}
	

-	function mapRAG2Color(rag){
-		// there is no amber css color ;-)
-		if (rag=="amber") return "gold";
-		if (!rag) return "lightgrey"
-		// red and green are ok
-		return rag;
-	}

block content

// ------------------ mixin start ----------------------------
mixin renderTarget(target)

	div.panel( style="position: relative;background-color:white;width:225px;text-align: left;height:280px")
		.panel-heading(class="panel-#{target.children[0].theme.toLowerCase()}")
			table(style="")
				tr(style="line-height:14px;")
					td(colspan="2" style=";width:195px;font-size:11px;height:16px;text-align:left;vertical-align:middle;color:black") 
						table
							tr(style="line-height:12px")
								td(style="width:40px;text-align:left")
									//i.glyphicon.glyphicon-record(style="font-size:13px") 
									img(src="/images/targets/#{target.name}.png" height="30px")
									
									
								
								td(style="width:140px;font-size:13px;vertical-align:middle;font-weight:normal;")
									|#{target.name.split(" ")[0].toUpperCase()}
									br
									b #{_.rest(target.name.split(" ")).join(" ").toUpperCase()}
								td(style="width:20px;font-size:12px;vertical-align:top;font-weight:normal;font-style:italic")
									|#{target.children[0].id.split(".")[0]}
								
									
			
		.panel-body
			table(style="")
				each line in target.children
					tr(style="line-height:15px")
						
						//if line.directMetric
						//	td(style="width:100px;font-size:10px;height:24px;text-align:left;vertical-align:middle;border-bottom: 1px solid lightgrey") 
						//		b #{line.id} - 
						//		|#{line.target}

						td(style="width:195px;font-size:10px;text-align:left;vertical-align:top;border-bottom: 1px solid lightgrey") 
							table(style="width:190px")
								tr(style="line-height:15px")
									td(style="width:10px;font-size:10px;text-align:left")
										|- 
									td(style="width:140px;font-size:11px;font-weight:bold")
										div(style="width:140px")
											
											|#{line.target}
									td(style="width:10px;font-size:10px;font-style:italic")
										
									td(style="width:15px;font-size:8px;")
										span(style="margin-left:2px;background-color:#{mapRAG2Color(line.rag)}")
											| &nbsp;&nbsp;&nbsp;&nbsp;   
									td(style="width:25px;font-size:10px;font-style:italic")
										|#{line.id}
									
						
						//if line.directMetric
						//	td(style="text-align:right;width:80px;font-size:18px;vertical-align:middle;font-weight:bold;;height:24px;border-bottom: 1px solid lightgrey") 
						//		|#{line.directMetric}
						//		span(style="font-size:10px;font-weight:normal") #{line.directMetricScale}
								
					tr(style="line-height:3px")
						td 
							|&nbsp;
				


mixin renderTargetLane(lane)
	div.panel(style="height:300px" class="panel-body-lane")
		.panel-heading(class="panel-lane-heading-#{lane.name.toLowerCase()}" style="-webkit-transform: translateX(-100%) rotate(-90deg);-webkit-transform-origin: right top;-moz-transform: translateX(-100%) rotate(-90deg); width:300px;text-align:center;font-weight:bold;vertical-align:top;text-align:center;")
			table
				tr(style="line-height:25px")
					
					td(style="width:230px")
						span(class="text-heading-#{lane.name.toLowerCase()}" style="margin-left:20px;font-size:24px;color:black;font-weight:bold")  #{lane.name}
						br
						span(style="font-size:14px;color:black;font-weight:normal") #{lane.children[0].name.toUpperCase()}
					td(style="width:50px")
						img(src="/images/targets/#{lane.name}_90.png" height="40px")
			
			
		.panel-body(style="margin-left:80px;margin-top:-90px;vertical-align:top")
			div.row(style="font-size:11px;margin-left:2px")
				each t in lane.children[0].children
					div.col-sm-2.col-md-3.col-lg4
						+renderTarget(t)
	
//				div.col-sm-2.col-md-3.col-lg4
//					img(src="/images/triangle.png" height="300px")		

block content
div(style="margin-left:20px;width:1100px")
	div(style="font-family:arial;font-weight:bold;font-size:24px;color:black;text-align:center") "#{vision}"
	div(style="font-family:arial;font-weight:normal;font-size:16px;color:black;text-align:center") #{period}
	br

	
	// ************ target card ******************

	each lane in targets
		+renderTargetLane(lane)
		
	br
	br
	
	
		
