include kanban_menu


block content

// ------------------ mixin start ----------------------------
mixin renderTarget(target)

	div.panel(style="position: relative;background-color:white;width:300px;text-align: left;")
		.panel-heading(style="")
			table(style="")
				tr(style="line-height:10px;")
					td(style=";width:20px;font-size:12px;height:20px;text-align:justify;vertical-align:middle;") 
						i.glyphicon.glyphicon-record(style="font-size:16px") 
					td(style="width:270px;font-size:18px;vertical-align:middle;font-weight:bold;;height:20px;") 
						|&nbsp;#{target.name}
			
		.panel-body
			table(style="")
				each line in target.children
					tr(style="line-height:14px;")
						
						if line.directMetric
							td(style="width:190px;font-size:12px;height:30px;text-align:justify;vertical-align:middle;border-bottom: 1px solid lightgrey") 
								|#{line.target}

						else
							td(colspan="2"  style="width:260px;font-size:12px;height:30px;text-align:justify;vertical-align:middle;border-bottom: 1px solid lightgrey") 
								|#{line.target}
						if line.directMetric
							td(style="text-align:right;width:80px;font-size:24px;vertical-align:middle;font-weight:bold;;height:30px;border-bottom: 1px solid lightgrey") 
								|#{line.directMetric}
								//span(style="font-size:10px;font-weight:normal") %
						
				


mixin renderTargetLane(lane)
	div.panel
		.panel-heading(style="-webkit-transform: translateX(-100%) rotate(-90deg);-webkit-transform-origin: right top;-moz-transform: translateX(-100%) rotate(-90deg); width:300px;text-align:center;font-weight:bold ")
			span(style="font-size:25px;color:lightgrey") #{lane.name}
			br
			span(style="font-size:18px;color:grey") #{lane.children[0].name}
		.panel-body(style="margin-left:80px;margin-top:-70px;vertical-align:top")
			div.row(style="font-size:11px;margin-left:2px")
				each t in lane.children[0].children
					div.col-sm-2.col-md-3.col-lg5
						+renderTarget(t)
	


block content
div(style="margin-left:20px")
	div(style="font-family:arial;font-weight:bold;font-size:40px;color:black;text-align:center") "#{vision}"
	div(style="font-family:arial;font-weight:bold;font-size:16px;color:black;text-align:center") #{period}
	br

	
	// ************ target card ******************

	each lane in targets
		+renderTargetLane(lane)
		
