include ../kanban_menu


block content
	
div.panel(style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;width:1200px;text-align: center;margin: 10px auto;")
	.panel-heading
		if costcenter
			span(style="font-family:arial;font-weight:normal;font-size:20px;color:lightgrey") #{costcenter} FACEBOOK 
		else
			span(style="font-family:arial;font-weight:normal;font-size:20px;color:lightgrey") #{config.context} FACEBOOK 
		span(id="admintype" style="font-family:arial;font-weight:bold;font-size:20px;color:lightgrey")
		span(style="font-size:24px")
			span(style="font-family:arial;font-weight:bold;color:lightgrey") . 
			span(id="countitems" style="font-family:arial;font-weight:bold;color:lightgrey") #{employees.length}
			span(style="font-family:arial;font-weight:normal;color:lightgrey") &nbsp;people
	br

	.panel-body
			
		
		- var size = 20;
		- if (employees.length<=20) size=50;
		- else if (employees.length>20 && employees.length<=200 ) size=40;
		- else if (employees.length>200 && employees.length<=500 ) size=30;
		
		
		each employee in employees
			img.img-circle(src='/images/employees/circle/#{employee["Employee Number"]}_circle.png' height="#{size}px" width="#{size}px")
			a(href='https://my.bwinparty.com/People/#{_.first(employee["Last Name"])}/#{employee["First Name"]}#{employee["Last Name"]}#{employee["Employee Number"]}.aspx' target="_blank") 
				span(style="font-size:9px") #{employee["First Name"]} | 
							
	include ../includes/material					
	
