include ../kanban_menu

script(src="/javascripts/kanban/kanban_config.js")
script(src="/javascripts/organization/org_util.js")
script(src="/javascripts/organization/org_tree.js")


block content
	script(type="text/javascript").
	div.notifications.top-left
	// Button trigger modal
	button.btn.btn-primary.btn-xs(type="button" data-toggle="modal" data-target="#myModal")
		span stuff
	div.row(style="margin-left:10px;margin-bottom:10px")
		div.panel(id="orgpanel" style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;width:1200px;text-align: center;margin: 10px auto;")
			.panel-heading
				h4 orgtree from 
					if ORG_DATE
						span <b>#{ORG_DATE}</b> 
					div
						a(id="upToParent" style="font-size:10px") -- up --
							
					div(id="orgRoot" style="font-size:24px")
					div(id="orgRootDetails" style="font-size:12px")
					br
					img(id="orgRootImage" src="" width="50px" height="50px")
				br
				span(style="font-size:9px") employee: #{employeeId}
				br
				span(style="font-size:9px") hierarchy: 
				span(id="hierarchyType" style="font-size:9px;font-weight:bold") #{hierarchy}
			.panel-body
				div.row(style="margin-left:10px;margin-bottom:10px")
					div(id="orgTreeChart")
				//Modal
				div.modal.fade(id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" )
					div.modal-dialog
						div.modal-content(style="opacity:1")
							div.modal-header
								button.close(type="button" data-dismiss="modal" aria-label="Close")
									span(aria-hidden="true") &times
								h3.modal-title(id="myModalLabel")
									| orgchart options
							div.modal-body
								include includes/menu_org_switches.jade
								include ../board/includes/menu_svg_export.jade
							div.modal-footer
								button.btn.btn-default.btn-xs(type="button" data-dismiss="modal")
									span Close
								button.btn.btn-primary.btn-xs(type="button")
									span Save changes
						
	include ../includes/material	
	
	script.
		var _date = '#{orgdate}';
		var _hierarchy = '#{hierarchy}';
		var _employeeId = '#{employeeId}'
		var _employee = '#{employee}'
		
		
		CONTEXT="orgtree";
	
		render(_employee,_date,_hierarchy);
		
		$('#upToParent').on('click', function () {
			console.log("up2parent request called..."+baseRoot.parent);
			
			var _up = searchTreeBy(orgTree,"name",baseRoot.parent.name) 
			
			render(_up,_date,_hierarchy);
			// switch to other hierarchy via javascript e.g. 
			// render(null,null,"hr")
			
		});
						
	
