include ../kanban_menu

script(src="/javascripts/colorbrewer.js")

script(src="/javascripts/organization/org_util.js")
script(src="/javascripts/organization/org_partition.js")


block content
	script(type="text/javascript").
		$(document).ready(function() {
			$('#kanban_menu').sidr({speed:300});
		});
	
	div.notifications.top-left
	div.sidr(style="margin-left:10px;margin-top:10px")
		
	//span(id="admintype" style="font-family:arial;font-weight:bold;font-size:50px;color:lightgrey") #{collection}

	div.panel(style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;width:1200px;text-align: left;margin: 10px auto;")
		.panel-heading
			i.glyphicon.glyphicon-book(style="font-size:15px")
			span(style="font-size:20px")&nbsp; #{collection.toUpperCase()} 
			if orgdate
				span(style="font-size:20px")&nbsp; #{orgdate.toUpperCase()} 
			
		.panel-body
			div(id="d3container")

	div.btn-group-xs
		button.btn.btn-primary.btn-xs(id="kanban_menu" type="button") 
			span.glyphicon.glyphicon-off  
			span  admin

	form(id="svgform" method="post" action="http://tomcat.ea.bwinparty.corp/transcode/")
		input(type="hidden" id="format" name="format" value="")
		input(type="hidden" id="data" name="data" value="")
		input(type="hidden" id="context" name="context" value="")
		input(type="hidden" id="svg_width" name="svg_width" value="")
		input(type="hidden" id="svg_height" name="svg_height" value="")
		input(type="hidden" id="png_scale" name="png_scale" value="")
	
	script(type="text/javascript").
		var _date = '#{orgdate}'
		var _collection = '#{collection}'
		
		render(_collection,_date);
