style.
	#radioBtn .notActive{
		color: #3276b1;
		background-color: #fff;
	}

mixin switchVisibilityRadio(_name,_value)
	div.form-group
		label(style="font-size:8px;margin-left:-0px")
			|#{_name.split("view_")[1]} 
		div.radio.radio-warning
			label
				if _value=="off"
					input(id=_name+"_off" type="radio" name=_name value="off" checked)
				else
					input(id=_name+"_off" type="radio" name=_name value="off")
		div.radio.radio-primary
			label
				if _value == "hide"
					input(id=_name+"_hide" type="radio" name=_name value="hide" checked)
				else
					input(id=_name+"_hide" type="radio" name=_name value="hide")
		div.radio.radio-success
			label
				if _value=="show"
					input(id=_name+"_show" type="radio" name=_name value="show" checked)
				else
					input(id=_name+"_show" type="radio" name=_name value="show")
	script.
		if ('#{_value}'=="off"){$('#'+'#{_name}'+"_"+"show").prop("disabled",true);$('#'+'#{_name}'+"_"+"hide").prop("disabled",true);} 
		else {$('#'+'#{_name}'+"_"+"off").prop("disabled",true);} 
		
.row
	hr.divider
	table(style="font-size:10px;width:650px")
		tr
			td(style="vertical-align:top;text-align:right")
				table
					tr
						td(style="height:32px;vertical-align:top;max-width:20px") 
							b
								|switch
					tr
						td(style="height:40px;vertical-align:top") off
					tr
						td(style="height:40px;vertical-align:top") hide
					tr
						td(style="height:29px;vertical-align:top") show
							
			td(style="max-width:20px")
				+switchVisibilityRadio('view_items',board.viewConfig.initiatives)
			td(style="max-width:20px")
				+switchVisibilityRadio('view_swag',board.viewConfig.swag)
			td(style="max-width:20px")
				+switchVisibilityRadio('view_roadmap',board.viewConfig.start)
			td(style="max-width:20px")
				+switchVisibilityRadio('view_queues',board.viewConfig.queues)
			td(style="max-width:20px")
				+switchVisibilityRadio('view_grid',board.viewConfig.grid)
			td(style="max-width:20px")
				+switchVisibilityRadio('view_vision',board.viewConfig.vision)
			td(style="max-width:20px")
				+switchVisibilityRadio('view_targets',board.viewConfig.targets)
			td(style="max-width:20px")
				+switchVisibilityRadio('view_lanes',board.viewConfig.lanes)
			td(style="max-width:20px")
				+switchVisibilityRadio('view_axes',board.viewConfig.axes)
			td(style="max-width:20px")
				+switchVisibilityRadio('view_guides',board.viewConfig.guides)
			td(style="max-width:20px")
				+switchVisibilityRadio('view_qmetrics',board.viewConfig.queuesmetrics)
			td(style="max-width:20px")
				+switchVisibilityRadio('view_sublaneText',board.viewConfig.sublaneText)
			td(style="max-width:20px")
				+switchVisibilityRadio('view_sublaneLine',board.viewConfig.sublaneLine)
			td(style="max-width:20px")
				+switchVisibilityRadio('view_metrics',board.viewConfig.metrics)
			td(style="max-width:20px")
				+switchVisibilityRadio('view_releases',"off")
			td(style="max-width:20px")
				+switchVisibilityRadio('view_NGR',"off")


	script.
		$('input[type="radio"]').click(function(){
				console.log(this.name+": "+$(this).val());
				var tog = this.name.split("view_")[1];
				var sel = $(this).val();
				if(tog=="Swag"){
					if (sel=="show") showSwag();
					if (sel=="hide") hideSwag();
				}
				else if(tog=="Start"){
					if (sel=="show") showStart();
					if (sel=="hide") hideStart();
				}
				else{
					if (sel=="show") show(tog);
					if (sel=="hide") hide(tog);
				}
		});

		function hide(group){
			//d3.select(group).style("visibility","hidden");
			d3.select("#"+group).transition().duration(500).style("opacity",0);
			console.log("++++++++: "+group);
		}

		function show(group){
			//d3.select(group).style("visibility","visible");
			d3.select("#"+group).transition().duration(500).style("opacity",1);
			//d3.select(group).transition().duration(500).style("opacity","");
			console.log("++++++++: "+group);
		}

		function hideStart(){
			d3.selectAll("[id*=startID]").style("visibility","hidden");
			d3.selectAll("[id*=text_start]").style("visibility","hidden");
			d3.selectAll("[id*=text_end]").style("visibility","visible");
			d3.selectAll("[id*=item_]").style("visibility","visible");
		}

		function showStart(){
			d3.selectAll("[id*=startID]").style("visibility","visible");
			d3.selectAll("[id*=text_start]").style("visibility","visible");
			d3.selectAll("[id*=text_end]").style("visibility","hidden");
			d3.selectAll("[id*=item_]").style("visibility","hidden");
		}

		function hideSwag(){
			d3.selectAll("#initiatives,#queues,#metrics")
				.style("visibility","visible");
			d3.selectAll("#sizings,#labels")
				.transition()
				.delay(0)
				.duration(1000)
				.style("opacity",0);
			d3.selectAll("#initiatives,#queues,#lanes,#axes,#metrics")
				.transition()
				.delay(0)
				.duration(1000)
				.style("opacity",1);
		}
		function showSwag(){
			d3.selectAll("#sizings,#labels")
			.transition()
			.delay(0)
			.duration(1000)
			.style("opacity",1);
			d3.selectAll("#initiatives,#queues,#metrics")
			.transition()
			.delay(0)
			.duration(1000)
			.style("opacity",0);

			d3.selectAll("#initiatives,#queues,#metrics")
			.transition()
			.delay(1000)
			.style("visibility","hidden");

			d3.selectAll("#lanes,#axes")
			.transition()
			.duration(1000)
			.style("opacity",0.5);
		}
