style.
	#radioBtn .notActive{
		color: #3276b1;
		background-color: #fff;
	}

.row
	hr.divider
	h4 switches


	mixin switch(name)
		.input-group(style="margin-left:10px;")
			.btn-group(id="radioBtn")
				a.btn.btn-primary.btn-xs.active(data-toggle=name data-title="off") off
				a.btn.btn-primary.btn-xs.notActive(data-toggle=name data-title="show") show
				a.btn.btn-primary.btn-xs.notActive(data-toggle=name data-title="hide") hide
			input(type="hidden" name=name id="_input_"+name)
			span(style="margin-left:5px; font-size:10px; font-weight:bold")=name



	// nice mixins :-)
	+switch('initiatives')
	+switch('queues')
	+switch('queues.qmetrics')
	+switch('metrics')
	+switch('grid')
	+switch('vision')
	hr.divider
	+switch('targets')
	+switch('lanes')
	+switch('axes')
	+switch('releases')
	+switch('NGR')
	+switch('Swag')





	script.
		$('#radioBtn a').on('click', function(){
			var sel = $(this).data('title');
			var tog = $(this).data('toggle');
			$('#'+tog).prop('value', sel);
			$('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
			$('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
			console.log("* clicked..." +tog+" selected: "+sel);
			
			if(tog=="Swag"){
				if (sel=="show") showSwag();
				if (sel=="hide") hideSwag();
				
			}
			else{
				if (sel=="show") show("#"+tog);
				if (sel=="hide") hide("#"+tog);

			}
			


		})

		function hide(group){
			//d3.select(group).style("visibility","hidden");
			d3.select(group).transition().duration(500).style("opacity",0);
			console.log("++++++++: "+group);
		}

		function show(group){
			//d3.select(group).style("visibility","visible");
			d3.select(group).transition().duration(500).style("opacity",1);
			//d3.select(group).transition().duration(500).style("opacity","");
			console.log("++++++++: "+group);
		}

		function hideSwag(){
			d3.selectAll("#initiatives,#queues,#metrics")
				.style("visibility","visible");
			d3.selectAll("#sizings,#labels")
				.transition()
				.delay(0)
				.duration(1000)
				.style("opacity",0);
			d3.selectAll("#initiatives,#queues,#lanes,#axes,#metrics")
				.transition()
				.delay(0)
				.duration(1000)
				.style("opacity",1);

		}
		function showSwag(){
			d3.selectAll("#sizings,#labels")
			.transition()
			.delay(0)
			.duration(1000)
			.style("opacity",1);
			d3.selectAll("#initiatives,#queues,#metrics")
			.transition()
			.delay(0)
			.duration(1000)
			.style("opacity",0);

			d3.selectAll("#initiatives,#queues,#metrics")
			.transition()
			.delay(1000)
			.style("visibility","hidden");

			d3.selectAll("#lanes,#axes")
			.transition()
			.duration(1000)
			.style("opacity",0.5);
		}
