include ../kanban_menu

link(rel='stylesheet', href='/stylesheets/login.css')

// board detail card
mixin board(board)
	div.col-sm-1.col-md-3
		div.panel(style=" position: relative;padding: 10px 10px 10px;display: block;background-color:white;;width:250px;height:320px;text-align: center;margin: 10px auto;")
			h4 #{board.name}
			a(href="/boards/kanban/#{board._id}")
				img.img-thumbnail(src="/images/boards/thumbs/#{board._id}.png"  style=" height:100px"  alt="...")
			br
			h4
				small &nbsp; #{board.vision}
			span(style="font-size:10px; color:#999999") created: #{moment(board.createDate).format("YYYY-MM-DD HH:mm:ss")}
			br
			a.btn.btn-primary.btn-xs(href="/boards/kanban/#{board._id}" role="button") View
			a.btn.btn-default.btn-xs(href="/admin?type=boards" role="button") Edit
			a.delete_board.btn.btn-link(id="delete_modal" data-id="#{board._id}" data-name="#{board.name}" href="#deleteBoard" role="button")

				span(style="color:red;font-size:10px") Delete


block content
	div.container-fluid
		div.row(style="margin: auto;max-width:1150px")
			div.panel.panel-default
				div.panel-heading ...select a board
				div.panel-body
					// new board
					div.col-md-3.col-sm-4.col-xs-9.col-lg2
						div.panel(style=" position: relative;padding: 10px 10px 10px;display: block;background-color:white;;width:250px;height:320px;text-align: center;margin: 10px auto;")
							h4 &nbsp;
							a(data-toggle="modal" data-target="#createBoardModal")
								img.img-thumbnail(src="/images/boards/s2t_board_new.png"  style=" height:100px"  alt="...")
							br
							h4
								small &nbsp;
							br
							button.btn.btn-info.btn-xs(id="createnewboard" type="button" data-toggle="modal" data-target="#createBoardModal")
								span create
					each val in boards
						+board(val)
					// ************ remove modal  ******************
					.modal.fade.bs-example-modal-sm(id="deleteBoard" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")
						.modal-dialog.modal-sm
							.modal-content
								.modal-header
									button.close(type="button" data-dismiss="modal" aria-label="Close")
										span(aria-hidden="true") &times;
									h4.modal-title(id="myModalLabel") Are your sure ??
									br
									span(style="color:red; text-align:center") this will <b>permanently</b> delete
									br
									|board:
									span(id="boardName" style="font-weight:bold")
									br
									|id:
									span(id="boardId" style="font-size:10px;color:grey;font-style:italic")
								.modal-body
									div.panel(style=" position: relative;padding: 10px 10px 10px;display: block;background-color:white;;width:250px;text-align: center;margin: 10px auto;")
										input(type="hidden" id="deleteBoardId" name="deleteBoardId" value="")
										button.btn.btn-danger(id="removeboardsubmit" type="button" )
											span.glyphicon.glyphicon-flash
											span delete now
	//Modal
	div.modal.fade(id="createBoardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" )
		div.modal-dialog
			div.modal-content(style="opacity:1;")
				div.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times
					table
						tr
							td(style="width:60px") 
								img.img-thumbnail(src="/images/boards/s2t_board_new.png"  style=" height:50px" )
							td 
								span(style="font-size:20px") #{formBoardTitle}
				div.modal-body
					
					include includes/form_board

include ../includes/material

// some code ;-)
script(type='text/javascript').
	//make server variable accesible on client :-)
	var BOARD=!{JSON.stringify(board)};
	
	$("#removeboardsubmit").click(function() { console.log("########KCHING");submitRemove(); });
	$("#boardsubmit").click(function() {console.log("create board submit pressed"); submitCreate(BOARD); });
	$("#createnewboard").click(function() {
		console.log("create board clicked"); 
	});


	$("#f_datalink_roadmap").click(function() {
		console.log("datalink_roadmap clicked !!!!!");
		$("#f_groupby").val("Status,Product,Number");
			$("#f_ref").val("rcs");
	});
	$("#f_datalink_backlogplanningepics").click(function() {
		console.log("datalink_backlogplanningepics clicked !!!!!");
		$("#f_groupby").val("PlanningBacklog,EpicRootName,Number");
		$("#f_ref").val("bpe");
		});
	$("#f_datalink_backloginitiatives").click(function() {
		console.log("datalink_backloginitiatives clicked !!!!!");
		$("#f_groupby").val("Product,PlanningBacklog,Number");
			$("#f_ref").val("bi");
		});
	$("#datalink_empty").click(function() {
		console.log("datalink_empty clicked !!!!!");
		$("#groupby").val("");
			$("#f_ref").val("");
	});


	/**
	* passing parameters to my modal
	* http://stackoverflow.com/questions/20723111/passing-data-to-bootstrap-3-modal
	*/
	$(document).on("click", ".delete_board", function (e) {

		console.log("**************** delete called *************************");
		e.preventDefault();

		var _self = $(this);
		var _id = _self.data('id');
		var _name = _self.data('name');
		$(".modal-header #boardId").text(_id);
		$(".modal-header #boardName").text(_name);
		$(".modal-body #removeboardsubmit").val(_id);
		console.log("+++++"+_self.attr('href'));
		console.log("+++++"+$(_self.attr('href')).modal);
		$(_self.attr('href')).modal('show');
	});


	function submitCreate(_board) {
		console.log("in submitCreate: board:"+BOARD);
		var form = document.getElementById("form_board");

		_board.name = form.name.value;
		_board.vision = form.vision.value;
		_board.subvision = form.subvision.value;
		_board.mission = form.mission.value;
		_board.startDate = form.startdate.value;
		_board.endDate = form.enddate.value;
		_board.width = form.width.value;
		_board.height = form.height.value;
		_board.itemScale = form.itemscale.value;
		_board.itemFontScale = form.itemfontscale.value;
		_board.WIPWindowDays = form.wip.value;
		_board.dataLink = form.datalink.value;
		_board.groupby = form.groupby.value;
		_board.ref = form.ref.value;

		
		if (_board.dataLink=="roadmapinitiatives"){
			_board.viewConfig.queues="show";
		}
		else if (_board.dataLink=="backlogplanningepics" || _board.dataLink=="backloginitiatives"){
			_board.viewConfig.queues="show";
			_board.viewConfig.queuesmetrics="hide";
			_board.viewConfig.vision="off";
		}	

		if (_board.dataLink=="roadmapinitiatives")
			_board.viewConfig.sublaneLine="on";
		else
			_board.viewConfig.sublaneLine="off";
		if (!_board.viewConfig.vision=="off") 
			_board.viewConfig.offsetTop = 150;
		
		
		if (form.rightbox.value) _board.viewConfig.laneboxRightWidth = form.rightbox.value;
		if (form.leftbox.value) _board.viewConfig.laneboxLeftWidth = form.leftbox.value;
		if (form.contextbox.value) _board.viewConfig.contextboxWidth = form.contextbox.value;
		

	_board.viewConfig.initiatives=form.view_items.value;
	_board.viewConfig.swag=form.view_swag.value;
	_board.viewConfig.start=form.view_roadmap.value;
	_board.viewConfig.queues=form.view_queues.value;
	_board.viewConfig.grid=form.view_grid.value;
	_board.viewConfig.vision=form.view_vision.value;
	_board.viewConfig.targets=form.view_targets.value;
	_board.viewConfig.lanes=form.view_lanes.value;
	_board.viewConfig.axes=form.view_axes.value;

	_board.viewConfig.qmetrics=form.view_qmetrics.value;
	_board.viewConfig.metrics=form.view_metrics.value;
	_board.viewConfig.releases=form.view_releases.value;
	_board.viewConfig.NGR=form.view_NGR.value;
		
		
		var _filter="";
		if (form.filter_Targets.value){
		 	_filter+="&filter_Targets="+form.filter_Targets.value;
			_board.filter.Targets = form.filter_Targets.value;
		}
		if (form.filter_Customers.value){
			_filter+="&filter_Customers="+form.filter_Customers.value;
			_board.filter.Customers = form.filter_Customers.value;
		}
		if (form.filter_Markets.value){
			_filter+="&filter_Markets="+form.filter_Markets.value;
			_board.filter.Markets = form.filter_Markets.value;
		}
		if (form.filter_Status.value){
			_filter+="&filter_Status="+form.filter_Status.value;
			_board.filter.Status = form.filter_Status.value;
		}
		if (form.filter_Product.value){
			_filter+="&filter_Product="+form.filter_Product.value;
			_board.filter.Product = form.filter_Product.value;
		}
		var _json = JSON.stringify(_board);


		var _url = "/api/space/rest/board?true=true"+_filter;
		console.log("---- url = "+_url);
		//form.ajax call
		$.ajax({
			type: "POST",
			url: _url,
			data: { 'itemJson': _json},
			cache: false,
			dataType:"json",
			success: function(msg)
				{
					console.log("***** and now do a client side redirect: "+msg._id);
					console.log("_board.datalink: "+_board.dataLink);
					window.location="/boards/kanban/"+msg._id;
				},
			error: function(msg)
				{
					//if (afterHandlerCallback !=undefined)
					$('.top-left').notify({
							message: { html: "<span class=\"glyphicon glyphicon-fire\"></span><span style=\"font-size:10px;font-weight:bold\"> ajaxCall.("+_url+") says:</span> <br/><div style=\"font-size:10px;font-weight:normal;margin-left:20px\">"+JSON.stringify(msg)+"</div>" },
							fadeOut: {enabled:true,delay:2000},
							type: "danger"
						  }).show(); // for the ones that aren't closable and don't fade out there is a .hide() function.
				}
			});
		return false;
	}


	function submitRemove() {
		var _id = $(".modal-body #removeboardsubmit").val();
		console.log("------------------- and now lets remove : _id = "+_id);
		var _ids = [];
		_ids.push(_id);
		var _json = JSON.stringify(_ids);
		var _url = "/api/space/rest/boards";
		//form.ajax call
		$.ajax({
			type: "DELETE",
			url: _url,
			data: { 'itemJson': _json},
					cache: false,
			dataType:"json",
			success: function(msg)
				{
					console.log("***** and now do a client side redirect: ");
					window.location="/boards";
				},
			error: function(msg)
				{
					console.log("***** error "+msg);
					//if (afterHandlerCallback !=undefined)
					$('.top-left').notify({
							message: { html: "<span class=\"glyphicon glyphicon-fire\"></span><span style=\"font-size:10px;font-weight:bold\"> ajaxCall.("+_url+") says:</span> <br/><div style=\"font-size:10px;font-weight:normal;margin-left:20px\">"+JSON.stringify(msg)+"</div>" },
							fadeOut: {enabled:true,delay:2000},
							type: "danger"
						  }).show(); // for the ones that aren't closable and don't fade out there is a .hide() function.
				}
			});
		return false;
	}
