include ../kanban_menu

//link(rel='stylesheet', href='/stylesheets/tables.css')

- function getHealthColor(status){
-		if (!status) status="Undefined";
-			return config.initiatives.health.colors[status];
- }

block content
	div.panel(style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;;width:1500px;text-align: center;margin: 10px auto;")
		.panel-heading
			h3.panel-title(style="font-size:24px;font-weight:bold") Planning Epics per Initiatives Overview
			div(style="font-size:9px;color:grey") last V1 sync: #{moment.utc(lastSync).toDate()} | refresh interval: #{config.sync.v1epics.intervalMinutes} minutes
			br
			a(href="/portfolio/planningbacklogs") view planning backlogs
			br
			if planningEpicsBoardId
				a(style="font-size:11px" href="/boards/kanban/#{planningEpicsBoardId}") timeline board - initiatives planningepics(*experimental) 
				br
			if roadmapBoardId
				a(style="font-size:11px" href="/boards/kanban/#{roadmapBoardId}") roadmap board - initiatives - clustered by status|product(*experimental) 
				br

			table(style="text-align:right;font-size:12px;max-width:600px")
				tr
					td(style="text-align:left;width:200px")
						|total number of initiatives: 
					td
						b
							|#{initiatives.length}
					td(style="text-align:left")
						span(style="font-size:10px") &nbsp;(Understanding: #{grouped.Understanding.length} Conception: #{grouped.Conception.length} Implementation: #{grouped.Implementation.length})
				tr
					td(style="text-align:left;width:150px")
						|total effort: 
					td
						b
							|#{Math.round(statistics.totalSwag)} PD
					td(style="text-align:left")
						//|(average: #{statistics.averageSwag.toFixed(2)})
				tr
					td(style="text-align:left;width:150px")
						|overall progess: 
					td(style="font-size:16px")
						b
							|#{Math.round((1-(statistics.totalSwagRemaining/statistics.totalSwag))*100)}% 
				tr
					td(style="text-align:left;width:150px")
						|total effort remaining: 
					td
						b
							|#{Math.round(statistics.totalSwagRemaining)} PD
					td(style="text-align:left")
						//|(average: #{statistics.averageSwag.toFixed(2)})
			
			
		.panel-body
		table.table.table-striped.table-hover.table-condensed.table-responsive.tablsesorter(id="planningepics")
			thead
				tr(style="font-size:12px")
					th.rotate(style="min-width:60px;text-align:left;vertical-align:top")<div><span>id</span></div>
					th.rotate(style="max-width:20px;vertical-align:top") <div><span>portfolio approved</span></div>
					th.rotate(style="width:200px;vertical-align:top") <div><span>initiative name</span></div>
					th.rotate(style="max-width:80px;vertical-align:top") <div><span>status</span></div>
					th.rotate(style="max-width:30px;text-align:left;vertical-align:top") <div><span>health</span></div>
					th.rotate(style="max-width:30px;text-align:left;vertical-align:top") <div><span>value</span></div>
					th.rotate(style="max-width:30px;text-align:left;vertical-align:top") <div><span>risk</span></div>
					th.rotate(style="text-align:left;max-width:30px;vertical-align:top") <div><span>swag initiative PD</span></div>
					th.rotate(style="text-align:left;max-width:30px;vertical-align:top") <div><span>progress initiative %</span></div>
					th.rotate(style="text-align:left;max-width:30px;vertical-align:top") <div><span>progress planned %</span></div>
					th.rotate(style="text-align:left;max-width:30px;vertical-align:top") <div><span>remaining effort PD</span></div>
					th.rotate(style="text-align:left;max-width:30px;vertical-align:top") <div><span>total size PD</span></div>

					th.rotate(style="max-width:700px;vertical-align:top") <div><span>planning epics</span></div>
					
			tbody
				each i in initiatives
					tr(style="background-color:#{_color}")
						td(style="vertical-align:top;font-size:11px;text-align:left;font-weight:normal") 
							a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+i.ID.split(":")[1] target="_new" title="see epic in V1")
								|#{i.Number}
						td(style="vertical-align:top;font-size:0px;text-align:left;font-weight:normal") 
							if i.IsInLatestApprovedPortfolio
								img(src="/images/iconexp/check.png" style="margin-top:3px" height="10px") 
								|ok
							else
								img(src="/images/iconexp/delete.png" style="margin-top:3px" height="10px")
								|no
								
						td(style="vertical-align:top;font-size:11px;;text-align:left;font-weight:normal;vertical-align:top") 
							b
								a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+i.ID.split(":")[1] target="_new" title="#{i.ElevatorPitch}")
									|#{i.Name} 
						td(style="vertical-align:top;font-size:11px;;text-align:left;font-weight:normal;vertical-align:top") 
							|#{i.Status} 
						td(title="#{i.HealthComment}" style="text-align:center")
							div(style="margin:auto;width: 10px;height: 10px;-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;background-color:#{getHealthColor(i.Health)};margin-top:2px")
							span(style="font-size:0px") #{i.Health}
						td(style="vertical-align:top;font-size:11px;;text-align:right;font-weight:normal;vertical-align:top" title="Value: #{i.Value}") #{i.Value}
						td(style="vertical-align:top;font-size:11px;;text-align:right;font-weight:normal;vertical-align:top" title="Risk: #{i.Risk}")  #{i.Risk}
						td(style="vertical-align:top;font-size:11px;;text-align:right;font-weight:normal;vertical-align:top" title="Swag from Initiative: #{i.Swag} PD") #{i.Swag}			
						td(style="vertical-align:top;font-size:11px;;text-align:right;font-weight:normal;vertical-align:top" title="Progress from Initiative: #{i.Progress}%") #{Math.round(i.Progress)}			
						td(style="vertical-align:top;text-align:right;font-size:11px;vertical-align:top" title="Progress aggregated for underlying Planning Epics: #{Math.round(i.ProgressPlanned)}%") 
							if i.Progress
								b
									|#{Math.round(i.ProgressPlanned)}
							else 
								|-
						td(style="vertical-align:top;font-size:11px;;text-align:right;font-weight:normal;vertical-align:top"  title="Swag aggregated from underlying planning epics: #{i.SwagPlanned} PD") 
							if i.Progress
								|#{Math.round(i.SwagPlanned*((100-i.ProgressPlanned)/100))}
							else 
								|#{i.SwagPlanned}
						td(style="vertical-align:top;font-size:11px;;text-align:right;font-weight:normal;vertical-align:top" title="Swag aggregated from underlying planning epics: #{i.SwagPlanned} PD") #{i.SwagPlanned}								
						td(style="vertical-align:top;text-align:left;font-size:10px;vertical-align:top")
							if i.PlanningEpics.length>0
								table.table-responsive.table-striped(style="")
									- var _sum = 0; 
									each p in i.PlanningEpics
										- _sum+=p.Swag
										tr
											td(style="width:10px;vertical-align:top")
												|+ 
											td(style="vertical-align:top;text-align:left;font-size:10px;width:50px") 
												a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+p.ID.split(":")[1] target="_new")
													|#{p.Number} 
											td(style="vertical-align:top;text-align:left;font-size:10px;min-width:150px;max-width:150px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis")
												a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Scorecard?oidToken=Epic%3A"+p.ID.split(":")[1] target="_new" title="go to V1 Scorecard - #{p.Name}") 
													|#{p.Name}
											td(style="vertical-align:top;text-align:center;font-size:10px;width:30px" title="Total Swag: #{p.Swag} PD") #{p.Swag}
											
											td(style="vertical-align:top;text-align:center;font-size:10px;width:30px" title="Total Progress: #{Math.round(p.Progress)}%") #{Math.round(p.Progress)}%
											td(style="vertical-align:top;text-align:center;font-size:10px;width:30px" title="Remaining Swag:") 
												if p.Progress
													|#{Math.round(p.Swag*((100-p.Progress)/100))}
												else
													|#{p.Swag}
											td(style="vertical-align:top;text-align:center;font-size:10px;width:65px" title="PlannedStart")
												if p.PlannedStart
													|#{moment(p.PlannedStart).format('YYYY-MM-DD')}
												else
													|-
											td(style="vertical-align:top;text-align:center;font-size:10px;width:65px" title="Planned End")
												if p.PlannedEnd
													|#{moment(p.PlannedEnd).format('YYYY-MM-DD')}
												else 
													|-
											td(style="vertical-align:top;text-align:left;font-size:10px;min-width:150px;max-width:150px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis") 
												a(href="/portfolio/planningbacklogdetail/"+p.BusinessBacklogID title="show details for: #{p.BusinessBacklog}")
													|#{p.BusinessBacklog}
							else		
								|-
			script $("#planningepics").tablesorter();
