include ../kanban_menu

//link(rel='stylesheet', href='/stylesheets/tables.css')
- function getStatusColor(status){
-		return config.initiatives.states.colors[status];
- }

block content
	div.panel(style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;;width:1400px;text-align: center;margin: 10px auto;")
		.panel-heading
			h3.panel-title(style="font-size:24px;font-weight:bold") Planning Backlogs Overview
			br
			a(href="/portfolio/planningepics") view planning epics
			br
			if initiativesBoardId
				a(style="font-size:11px" href="/boards/kanban/#{initiativesBoardId}") level-1 timeline board - backlogs initiatives(*experimental) 
				br
			if planningEpicsBoardId
				a(style="font-size:11px" href="/boards/kanban/#{planningEpicsBoardId}") level-2 timeline board - backlogs planningepics(*experimental) 
				br
			if roadmapBoardId
				a(style="font-size:11px" href="/boards/kanban/#{roadmapBoardId}") roadmap board - initiatives - clustered by status|product(*experimental) 
				br
			table(style="max-width:250px;font-size:12px")
				tr
					td(style="text-align:left;width:150px") 
						|#backlogs:
					td(style="text-align:right")
						b
							|#{backlogs.length}
				tr
					td(style="text-align:left;width:150px") 
						|#initiatives:
					td(style="text-align:right")
						b
							|#{statistics.totalInitiatives}
				tr
					td(style="text-align:left;width:150px") 
						|#planning epics:
					td(style="text-align:right")
						b
							|#{statistics.totalPlanningEpics}
				tr
					td(style="text-align:left;width:150px") 
						|total swag remaining:
					td(style="text-align:right")
						b
							|#{statistics.totalSwagRemaining}
				tr
					td(style="text-align:left;width:150px") 
						|total people:
					td(style="text-align:right")
						b
							|#{statistics.totalMembers}
				tr
					td(style="text-align:left;width:150px") 
						|total teams:
					td(style="text-align:right")
						b
							|#{statistics.totalTeams}
			
		.panel-body
		table.table.table-striped.table-hover.table-condensed.table-responsive.tablsesorter(id="planningbacklogs" style="max-width:1400px")
			thead
				tr
					th(style="min-width:100px;vertical-align:top") backlog
					th(style="text-align:right;vertical-align:top") swag
					th(style="text-align:right;vertical-align:top") 
						img(src="/images/iconexp/user.png" width="20px" height="20px")
					th(style="text-align:right;vertical-align:top") ratio	
					th(style="min-width:800px") 
						|initiatives 
						div(style="font-weight:normal;font-size:12px")
							span(style="margin-left:10px;text-align:left") id
							span(style="margin-left:40px;text-align:left") name
							span(style="margin-left:280px;text-align:left") status
							span(style="margin-left:60px;text-align:left") value
							span(style="margin-left:10px;text-align:left") risk
							span(style="margin-left:20px;text-align:left") swag
							span(style="margin-left:20px;text-align:left") start
							span(style="margin-left:60px;text-align:left") end
							span(style="margin-left:60px;text-align:left") prog%
							span(style="margin-left:10px;text-align:left") #
					th(style="text-align:right;vertical-align:top") prod 	
					th(style="text-align:right;vertical-align:top") init 
					th(style="text-align:right;vertical-align:top") capa/month (days) 
					th(style="text-align:right;vertical-align:top") remaining	(month)
					//th(style="text-align:right;vertical-align:top") remain
					
			tbody
				each b in backlogs
					tr
						td(style="vertical-align:top;font-size:11px;;text-align:left;font-weight:normal") 
							b
								a(href="/portfolio/planningbacklogdetail/"+b.ID title="show details")
									|#{b.Name} 
						td(style="vertical-align:top;text-right:left;font-size:10px;width:30px")
							b
								|#{b.TotalSwagRemaining.toFixed(2)}
						td(style="vertical-align:top;text-right:left;font-size:10px;width:30px")
							b
								a(href="#"  title="#{_.uniq(_.map(b.Members,'Name')).join(', ')}")
									|#{b.Members.length}
						td(style="vertical-align:top;text-right:left;font-size:10px;width:50px")
							|#{(b.TotalSwag/b.Members.length).toFixed(2)}
						td(style="vertical-align:top;text-align:left;font-size:10px")
							if b.Initiatives
								table.table-responsive.table-striped(style="width:800px")
									- var _sum = 0; 
									- var _sumPlanningEpics = 0;
									each i in b.Initiatives
										- _sum+=i.SwagPlanned
										- _sumPlanningEpics+=i.PlanningEpics.length;
										tr
											td(style="width:10px;vertical-align:top")
												span(style="background-color:"+getStatusColor(i.Status))&nbsp;&nbsp;
												| 
											td(style="vertical-align:top;text-align:left;font-size:10px;vertical-align:top;width:50px") 
												a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+i.ID.split(":")[1] target="_new"  title="go to V1 Epic Details")
													|#{i.Number} 
											td(style="vertical-align:top;text-align:left;font-size:10px;vertical-align:top;width:300px")
												a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Scorecard?oidToken=Epic%3A"+i.ID.split(":")[1] target="_new" title="go to V1 Scorecard") 
													|#{i.Name}
											td(style="vertical-align:top;text-align:left;font-size:10px;vertical-align:top;width:80px") 
												|#{i.Status} 
											td(style="vertical-align:top;text-align:right;font-size:10px;vertical-align:top;width:30px") #{i.Value}
											td(style="vertical-align:top;text-align:right;font-size:10px;vertical-align:top;width:30px") #{i.Risk}
											
											td(style="vertical-align:top;text-align:right;font-size:10px;vertical-align:top;width:50px") #{i.SwagRemaining}
											td(style="vertical-align:top;text-align:center;font-size:10px;vertical-align:top;width:80px") #{moment(i.PlannedStart).format('YYYY-MM-DD')}
											td(style="vertical-align:top;text-align:center;font-size:10px;vertical-align:top;width:80px") #{moment(i.PlannedEnd).format('YYYY-MM-DD')}
											td(style="vertical-align:top;text-align:right;font-size:10px;vertical-align:top;width:40px") 
												if i.Progress
													b
														|#{i.Progress}
												else 
													|-
											td(style="vertical-align:top;text-align:right;font-size:10px;vertical-align:top;width:20px") #{i.PlanningEpics.length}
						td(style="vertical-align:top;text-align:right;font-size:10px;width:50px")
							|#{(b.Capacity.defaultProductiveWorkRatio*100)}%
						td(style="vertical-align:top;text-align:right;font-size:10px;width:50px")
							|#{(b.Capacity.defaultAvailableForInitiativesRatio)*100}%
						td(style="vertical-align:top;text-align:right;font-size:10px;width:50px")
							|#{b.Capacity.TheoreticalCapacityPerMonth} 
						td(style="vertical-align:top;text-align:right;font-size:10px;width:50px")
							|#{(b.TotalSwagRemaining/b.Capacity.TheoreticalCapacityPerMonth).toFixed(2)} 
						//td(style="vertical-align:top;text-align:right;font-size:10px;width:50px")
							//|#{b.TotalSwagRemaining} 



			script $("#planningbacklogs").tablesorter();
