include ../kanban_menu

//link(rel='stylesheet', href='/stylesheets/tables.css')

- function getHealthColor(status){
-		if (!status) status="Undefined";
-			return config.initiatives.health.colors[status];
- }


block content
	div.panel(style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;;width:1600px;text-align: center;margin: 10px auto;")
		.panel-heading
			h3.panel-title(style="font-size:24px;font-weight:bold") Planning Epics per Initiatives Overview
			br
			a(href="/portfolio/planningbacklogs") view planning backlogs
			br
			if planningEpicsBoardId
				a(style="font-size:11px" href="/boards/kanban/#{planningEpicsBoardId}") timeline board - initiatives planningepics(*experimental) 
				br
			if roadmapBoardId
				a(style="font-size:11px" href="/boards/kanban/#{roadmapBoardId}") roadmap board - initiatives - clustered by status|product(*experimental) 
				br

			table(style="text-align:right;font-size:12px")
				tr
					td(style="text-align:left")
						|total initiatives: 
					td
						b
							|#{initiatives.length}
					td(style="text-align:left")
						|(Understanding: #{grouped.Understanding.length} Conception: #{grouped.Conception.length} Implementation: #{grouped.Implementation.length})
				tr
					td(style="text-align:left")
						|total swag: 
					td
						b
							|#{statistics.swagSum} 
					td(style="text-align:left")
						|(average: #{statistics.averageSwag.toFixed(2)})
				tr
					td(style="text-align:left")
						|total value: 
					td
						b
							|#{statistics.valueSum} 
					td(style="text-align:left")
						|(average: #{statistics.averageValue.toFixed(2)})
				tr
					td(style="text-align:left")
						|total risk: 
					td
						b
							|#{statistics.riskSum} 
					td(style="text-align:left")
						|(average: #{statistics.averageRisk.toFixed(2)})
			
		.panel-body
		table.table.table-striped.table-hover.table-condensed.table-responsive.tablsesorter(id="planningepics" style="max-width:1600px")
			thead
				tr(style="font-size:12px")
					th(style="width:2px") h
					th(style="min-width:60px") id
					th(style="min-width:150px") initiative
					th(style="min-width:100px") status
					th(style="min-width:40px;text-align:right") value
					th(style="min-width:40px;text-align:right") risk
					th(style="text-align:right;width:50px") swag
					th(style="text-align:right;width:50px") prog%
					th(style="width:750px") planning epics
					th(style="text-align:right;min-width:50px") #
					th(style="text-align:right;min-width:50px") swag
					
			tbody
				each i in initiatives
					tr
						//td(style="border-left: solid 3px "+getStatusColor(i.Status))
						td(style="font-size:0px;background-color:"+getHealthColor(i.Health))
							|#{_.first(i.Health)}
						td(style="vertical-align:top;font-size:11px;;text-align:left;font-weight:normal;vertical-align:top") 
							a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+i.ID.split(":")[1] target="_new" title="see epic in V1")
								|#{i.Number}
						td(style="vertical-align:top;font-size:11px;;text-align:left;font-weight:normal;vertical-align:top") 
							b
								a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+i.ID.split(":")[1] target="_new" title="#{i.ElevatorPitch}")
									|#{i.Name} 
						td(style="vertical-align:top;font-size:11px;;text-align:left;font-weight:normal;vertical-align:top") 
							|#{i.Status} 
						
						td(style="vertical-align:top;font-size:11px;;text-align:right;font-weight:normal;vertical-align:top") #{i.Value}
						td(style="vertical-align:top;font-size:11px;;text-align:right;font-weight:normal;vertical-align:top") #{i.Risk}
						td(style="vertical-align:top;font-size:11px;;text-align:right;font-weight:normal;vertical-align:top") 
							if i.Progress
								|#{(i.Swag*((100-i.Progress)/100)).toFixed(2)}
							else 
								|#{i.Swag}
						td(style="vertical-align:top;text-align:right;font-size:11px;vertical-align:top") 
							if i.Progress
								b
									|#{i.Progress}
							else 
								|-
						td(style="vertical-align:top;text-align:left;font-size:10px;vertical-align:top")
							if i.PlanningEpics
								table.table-responsive.table-striped(style="width:800px")
									- var _sum = 0; 
									each p in i.PlanningEpics
										- _sum+=p.Swag
										tr
											td(style="width:10px;vertical-align:top")
												|+ 
											td(style="vertical-align:top;text-align:left;font-size:10px;vertical-align:top;width:40px") 
												a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+p.ID.split(":")[1] target="_new")
													|#{p.Number} 
											td(style="vertical-align:top;text-align:left;font-size:10px;vertical-align:top;width:200px")
												a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Scorecard?oidToken=Epic%3A"+p.ID.split(":")[1] target="_new" title="go to V1 Scorecard") 
													|#{p.Name}
											td(style="vertical-align:top;text-align:center;font-size:10px;vertical-align:top;width:60px") #{p.CategoryName}
											td(style="vertical-align:top;text-align:right;font-size:10px;vertical-align:top;width:30px") 
												if p.Progress
													|#{(p.Swag*((100-p.Progress)/100)).toFixed(2)}
												else
													|#{p.Swag}
											td(style="vertical-align:top;text-align:center;font-size:10px;vertical-align:top;width:70px") #{moment(p.PlannedStart).format('YYYY-MM-DD')}
											td(style="vertical-align:top;text-align:center;font-size:10px;vertical-align:top;width:70px") #{moment(p.PlannedEnd).format('YYYY-MM-DD')}
											td(style="vertical-align:top;text-align:left;font-size:10px;vertical-align:top;width:200px") 
												a(href="/portfolio/planningbacklogdetail/"+p.BusinessBacklogID title="show details")
													|#{p.BusinessBacklog}
											
							else
						td(style="vertical-align:top;text-align:right;font-size:10px;vertical-align:bottom")
							if i.Children
								|#{i.PlanningEpics.length}
							else
								|0
						td(style="vertical-align:top;text-align:right;font-size:10px;vertical-align:bottom")
							b
								|#{_sum}
			script $("#planningepics").tablesorter();
