include ../kanban_menu

//link(rel='stylesheet', href='/stylesheets/tables.css')

block content
	div.panel(style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;;width:1600px;text-align: center;margin: 10px auto;")
		.panel-heading
			h3.panel-title(style="font-size:24px;font-weight:bold") Planning Epics per Initiatives Overview
			br
			a(href="/portfolio/planningbacklogs") view planning backlogs
			div(style="text-align:left")
				|total initiatives: <b>#{initiatives.length}</b>  (Understanding: #{grouped.Understanding.length} Conception: #{grouped.Conception.length} Implementation: #{grouped.Implementation.length})
				br
				|total swag: #{statistics.swagSum} (average: #{statistics.averageSwag.toFixed(2)})
				br
				|total value: #{statistics.valueSum} (average: #{statistics.averageValue.toFixed(2)})
				br
				|total risk: #{statistics.riskSum} (average: #{statistics.averageRisk.toFixed(2)})
			
		.panel-body
		table.table.table-striped.table-hover.table-condensed.table-responsive.tablsesorter(id="planningepics" style="max-width:1600px")
			thead
				tr
					th(style="min-width:60px") id
					th(style="min-width:150px") initiative
					th status
					th(style="min-width:40px;text-align:right") value
					th(style="min-width:40px;text-align:right") risk
					th swag
					th planning epics
					th(style="text-align:right") n
					th total swag
					
			tbody
				each i in initiatives
					tr
						td(style="vertical-align:top;font-size:11px;;text-align:left;font-weight:normal;vertical-align:top") 
							a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+i.ID.split(":")[1] target="_new" title="see epic in V1")
								|#{i.Number}
						td(style="vertical-align:top;font-size:11px;;text-align:left;font-weight:normal;vertical-align:top") 
							b
								a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+i.ID.split(":")[1] target="_new" title="#{i.ElevatorPitch}")
									|#{i.Name} 
						td(style="vertical-align:top;font-size:11px;;text-align:left;font-weight:normal;vertical-align:top;width:60px") #{i.Status} 
						
						td(style="vertical-align:top;font-size:11px;;text-align:right;font-weight:normal;vertical-align:top") #{i.Value}
						td(style="vertical-align:top;font-size:11px;;text-align:right;font-weight:normal;vertical-align:top") #{i.Risk}
						td(style="vertical-align:top;font-size:11px;;text-align:right;font-weight:normal;vertical-align:top;width:60px") #{i.Swag} 
						td(style="vertical-align:top;text-align:left;font-size:10px;vertical-align:top;width:800px")
							if i.PlanningEpics
								table.table-responsive.table-striped(style="width:800px")
									- var _sum = 0; 
									each p in i.PlanningEpics
										- _sum+=p.Swag
										tr
											td(style="width:10px;vertical-align:top")
												|+ 
											td(style="vertical-align:top;text-align:left;font-size:10px;vertical-align:top;width:40px") 
												a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+p.ID.split(":")[1] target="_new")
													|#{p.Number} 
											td(style="vertical-align:top;text-align:left;font-size:10px;vertical-align:top;width:200px")
												a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+p.ID.split(":")[1] target="_new" title="#{p.ElevatorPitch}") 
													|#{p.Name}
											td(style="vertical-align:top;text-align:center;font-size:10px;vertical-align:top;width:60px") #{p.CategoryName}
											td(style="vertical-align:top;text-align:right;font-size:10px;vertical-align:top;width:30px") #{p.Swag}
											td(style="vertical-align:top;text-align:center;font-size:10px;vertical-align:top;width:70px") #{moment(p.PlannedStart).format('YYYY-MM-DD')}
											td(style="vertical-align:top;text-align:center;font-size:10px;vertical-align:top;width:70px") #{moment(p.PlannedEnd).format('YYYY-MM-DD')}
											td(style="vertical-align:top;text-align:left;font-size:10px;vertical-align:top;width:200px") #{p.BusinessBacklog}
											
							else
						td(style="vertical-align:top;text-align:right;font-size:11px;vertical-align:top;width:50px")
							if i.Children
								|#{i.PlanningEpics.length}
							else
								|0
						td(style="vertical-align:top;text-right:left;font-size:10px;vertical-align:top;width:100px")
							|#{_sum}
			script $("#planningepics").tablesorter();
