include ../kanban_menu

//link(rel='stylesheet', href='/stylesheets/tables.css')
- function getHealthColor(status){
-		if (!status) status="Undefined";
-			return config.initiatives.health.colors[status];
- }

block content
	div.panel(style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;;width:1600px;text-align: center;margin: 10px auto;")
		.panel-heading
			h3.panel-title(style="font-size:24px;font-weight:bold") Planning Backlogs Overview
			br
			a(href="/portfolio/planningepics") view planning epics
			br
			if initiativesBoardId
				a(style="font-size:11px" href="/boards/kanban/#{initiativesBoardId}") level-1 timeline board - backlogs initiatives(*experimental) 
				br
			if planningEpicsBoardId
				a(style="font-size:11px" href="/boards/kanban/#{planningEpicsBoardId}") level-2 timeline board - backlogs planningepics(*experimental) 
				br
			if roadmapBoardId
				a(style="font-size:11px" href="/boards/kanban/#{roadmapBoardId}") roadmap board - initiatives - clustered by status|product(*experimental) 
				br
			table(style="max-width:400px;font-size:12px")
				tr
					td(style="text-align:left;width:150px") 
						|#backlogs:
					td(style="text-align:right")
						b
							|#{backlogs.length}
				tr
					td(style="text-align:left;width:150px") 
						|#initiatives:
					td(style="text-align:right")
						b
							|#{statistics.totalInitiatives}
				tr
					td(style="text-align:left;width:150px") 
						|#planning epics:
					td(style="text-align:right")
						b
							|#{statistics.totalPlanningEpics}
				tr
					td(style="text-align:left;width:150px") 
						|capacity:
					td(style="text-align:right")
						|<b>#{statistics.totalMembers}</b> people in <b>#{statistics.totalTeams}</b> teams
				tr
					td(style="text-align:left;width:150px") 
						|total swag remaining:
					td(style="text-align:right")
						b
							|#{statistics.totalSwagRemaining.toFixed(0)}
				tr
					td(style="text-align:left;width:150px") 
						|total size:
					td(style="text-align:right")
						b
							|#{statistics.totalSwag}
				tr
					td(style="text-align:left;width:150px")
						|overall progess: 
					td(style="font-size:16px;text-align:right")
						b
							|#{Math.round((statistics.totalSwagRemaining/statistics.totalSwag)*100)}% 

		.panel-body
		table.table.table-striped.table-hover.table-condensed.table-responsive.tablsesorter(id="planningbacklogs" style="max-width:1600px")
			thead
				tr(style="font-size:12px")
					th(style="min-width:220px;vertical-align:top") backlog
					th(style="text-align:right;vertical-align:top") 
						img(src="/images/iconexp/user.png" width="20px" height="20px")
					th(style="min-width:60px;text-align:right;vertical-align:top") available PD/month 
					th(style="min-width:60px;text-align:right;vertical-align:top") init %
					th(style="min-width:50px;text-align:right;vertical-align:top") capa/month days 
					th(style="min-width:50px;text-align:center;vertical-align:top") swag remaining
					th(style="min-width:50px;text-align:center;vertical-align:top") occupation month
					th(style="text-align:left;min-width:800px") 
						|initiatives 
						div(style="font-weight:normal;font-size:12px")
							span(style="margin-left:10px;text-align:left") id
							span(style="margin-left:40px;text-align:left") name
							span(style="margin-left:270px;text-align:left") status
							span(style="margin-left:60px;text-align:left") value
							span(style="margin-left:10px;text-align:left") risk
							span(style="margin-left:10px;text-align:left") swag
							span(style="margin-left:30px;text-align:left") start
							span(style="margin-left:50px;text-align:left") end
							span(style="margin-left:40px;text-align:left") prog%
							span(style="margin-left:20px;text-align:left") #
				
					//th(style="text-align:right;vertical-align:top") remain
					
			tbody
				each b in backlogs
					tr
						td(style="vertical-align:top;font-size:11px;;text-align:left;font-weight:normal") 
							b
								a(href="/portfolio/planningbacklogdetail/"+b.ID title="show details")
									|#{b.Name} 
						td(style="vertical-align:top;text-right:left;font-size:10px;width:30px")
							b
								a(href="#"  title="#{_.uniq(_.map(b.Members,'Name')).join(', ')}")
									|#{b.Members.length}
						td(style="vertical-align:top;text-align:right;font-size:10px;width:50px")
							|#{Math.round(b.Capacity.AvailablePDperMonth)} 
						td(style="vertical-align:top;text-align:right;font-size:10px;width:50px")
							|#{(b.Capacity.defaultAvailableForInitiativesRatio)*100}%
						
						td(style="vertical-align:top;text-align:right;font-size:10px;width:50px")
							|#{Math.round(b.Capacity.AvailablePDperMonthForInitiatives)} 
						//td(style="vertical-align:top;text-align:right;font-size:10px;width:50px")
							//|#{b.TotalSwagRemaining} 
						td(style="vertical-align:top;text-right:left;font-size:10px;width:30px")
							b
								|#{Math.round(b.TotalSwagRemaining)}
						td(style="vertical-align:top;text-right:left;font-size:10px;width:30px")
							b
								|#{(b.TotalSwagRemaining/b.Capacity.AvailablePDperMonthForInitiatives).toFixed(1)}
						td(style="vertical-align:top;text-align:left;font-size:10px")
							if b.Initiatives
								table.table-responsive.table-striped(style="")
									- var _sum = 0; 
									- var _sumPlanningEpics = 0;
									each i in b.Initiatives
										- _sum+=i.SwagPlanned
										- _sumPlanningEpics+=i.PlanningEpics.length;
										tr
											td(style="width:10px;vertical-align:top")
												span(style="background-color:"+getHealthColor(i.Health))&nbsp;&nbsp;
												| 
											td(style="vertical-align:top;text-align:left;font-size:10px;vertical-align:top;width:50px") 
												a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Summary?oidToken=Epic%3A"+i.ID.split(":")[1] target="_new"  title="go to V1 Epic Details")
													|#{i.Number} 
											td(style="vertical-align:top;text-align:left;font-size:10px;vertical-align:top;width:300px")
												a(href="http://v1.bwinparty.corp/V1-Production/Epic.mvc/Scorecard?oidToken=Epic%3A"+i.ID.split(":")[1] target="_new" title="go to V1 Scorecard") 
													|#{i.Name}
											td(style="vertical-align:top;text-align:left;font-size:10px;vertical-align:top;width:80px") 
												|#{i.Status} 
											td(style="vertical-align:top;text-align:right;font-size:10px;vertical-align:top;width:30px") #{i.Value}
											td(style="vertical-align:top;text-align:right;font-size:10px;vertical-align:top;width:30px") #{i.Risk}
											
											td(style="vertical-align:top;text-align:right;font-size:10px;vertical-align:top;width:50px") #{Math.round(i.SwagRemaining)}
											td(style="vertical-align:top;text-align:center;font-size:10px;vertical-align:top;width:80px") 
												if i.PlannedStart
													|#{moment(i.PlannedStart).format('YYYY-MM-DD')}
												else
													|-
											td(style="vertical-align:top;text-align:center;font-size:10px;vertical-align:top;width:80px")
												if i.PlannedEnd
													|#{moment(i.PlannedEnd).format('YYYY-MM-DD')}
												else 
													|-
											td(style="vertical-align:top;text-align:center;font-size:10px;vertical-align:top;width:40px") 
												if i.ProgressPlanned
													b
														|#{Math.round(i.ProgressPlanned)}
												else 
													|-
											td(style="vertical-align:top;text-align:right;font-size:10px;vertical-align:top;width:20px") #{i.PlanningEpics.length}

			script $("#planningbacklogs").tablesorter();
